<style>
  :root {
    --color-accent: {{ settings.breadcrumb_bg_color }};
    --theme-style: {{ settings.theme_style }};
    --color-body-text: {{ settings.color_body_text }};
    --color-main-background: {{ settings.color_main_bg }}; 
    --color-border: {{ settings.color_body_text | color_lighten: 50 }};
    --font-heading: {{ settings.font_heading.family }}, {{ settings.font_heading.fallback_families }};
    --font-body: {{ settings.font_body.family }}, {{ settings.font_body.fallback_families }};
    --font-body-weight: {{ settings.font_body.weight }};
    --font-body-style: {{ settings.font_body.style }};
    --font-body-bold-weight: {{ font_body_bold.weight | default: 'bold' }};
  } 
</style>