{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

<div class="container">
  <div id="col-main" class="page-compare">
    <div class="page-content compare-content">

          {% if customer.id == blank %}
              <p class="text-center empty">To create a compare, please <a href="/account/login">{{ 'general.header.login' | t }}</a> {{ 'general.text.or' | t }} <a href="/account/register">{{ 'general.header.register' | t }}</a></p>

          {% else %}
              <div class="compare-content-wrapper">
                  {% assign count = 0 %}
                  {% for tag in customer.tags %}
                      {% if tag contains 'compare--' %}
                        {% assign count = count | plus: 1 %}  
                      {% endif %}
                  {% endfor %}
                
                  {% if count == 0 %}
                      <p class="text-center empty">You have no any products in Compare!</p>
                
                  {% else %}
                    <table class="compare-table">
                        <thead> 
                            <th class="item-image-title"></th>
                            <th class="item-name-title">{{ 'cart.general.item' | t }}</th>
                            <th class="item-name-variant">Variant</th>
                            <th class="item-price-title">{{ 'cart.general.price' | t }}</th>
                            <th class="item-available-title">Available</th>
                            <th class="item-detail-title"></th>
                            <th class="item-remove-title"></th>
                        </thead>

                        <tbody>
                            {% for tag in customer.tags %}

                                {% if tag contains 'compare--' %}
                                  {% assign productHandle = tag | remove: 'compare--' %}
                                  {% assign product = all_products[productHandle] %}

                                  <tr class="item">
                                      <td class="item-image">
                                          <a href="{{ product.url }}">
                                              <img src="{{ product.featured_image | product_img_url:'small' }}" alt="">
                                          </a>
                                      </td>
                                    
                                      <td class="item-name">
                                          <h5 class="product-name">
                                              <a href="{{ product.url }}">{{ product.title }}</a>
                                          </h5>	
                                      </td>
                                    
                                      <td class="item-variant">
                                        <div id="product-action-{{ product.id }}" class="options">
                                          <div class="variants-wrapper clearfix"> 
                                            <select id="product-select-{{ product.id }}" name="id" style="display:none;">
                                              {% for variant in product.variants %}

                                              {% if variant.available %}
                                              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
                                              {% else %}
                                              <option disabled="disabled">
                                                {{ variant.title }} - {{'products.product.sold_out' | t }}
                                              </option>
                                              {% endif %}

                                              {% endfor %}
                                            </select>
                                          </div>
                                        </div>

                                        <script type="text/javascript">

                                          // initialize multi selector for product
                                          $(window).load(function() {

                                              /* selectCallback */
                                              var selectOptionsCallback = function(variant, selector) {

                                                  if (variant) {
                                                    var form = jQuery('#' + selector.domIdPrefix).closest('form');
                                                    for (var i=0,length=variant.options.length; i<length; i++) {
                                                      var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
                                                      if (radioButton.size()) {
                                                        radioButton.get(0).checked = true;
                                                      }
                                                    }
                                                  }
                                              };

                                              {% if product.variants.size > 1 %}
                                                  new Shopify.OptionSelectors("product-select-{{ product.id }}", { product: {{ product | json | remove:'\u003E' | remove:'\u003C' | remove:'\u00a0' }}, onVariantSelected: selectOptionsCallback, enableHistoryState: false });
                                              {% endif %}

                                              // Add label if only one product option
                                              {% if product.options.size == 1 and product.options.first != 'Title' %}
                                                $('#product-action-{{ product.id }} .selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
                                              {% endif %}                                      

                                              // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                              {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                                  $('#product-action-{{ product.id }} .selector-wrapper').hide();
                                              {% endif %}

                                          });
                                        </script>
                                      </td>
                                    
                                      <td class="item-price">
                                          <span class="price">{{ product.variants.first.price | money }}</span>
                                        {{ product.variants.length }}
                                      </td>
                                    
                                      <td class="item-available">
                                          {% if product.available %}
                                              <span class="available">{{ 'products.product.in_stock' | t}}</span>
                                          {% else %}
                                              <span class="unavailable">{{ 'products.product.out_stock' | t}}</span>
                                          {% endif %}	
                                      </td>
                                    
                                      <td class="item-detail">
                                        <a href="{{ product.url }}" class="btn btn-4">View Detail</a>
                                      </td>
                                    
                                      <td>
                                          <a href="javascript:;" class="remove-compare" title="Remove Item" data-handle-product="{{ productHandle }}">
                                              <i class="demo-icon icon-close"></i>	
                                          </a>
                                      </td>
                                  </tr>

                                {% endif %}

                            {% endfor %}	
                        </tbody>

                    </table>
                  {% endif %}
                
              </div>

          {% endif %}

    </div>	
  </div>
</div>
