{% comment %}
  The contents of the product.liquid template can be found in /sections/product-horizontal-thumbnail-template.liquid
{% endcomment %}

{% section 'product-horizontal-thumbnail-template' %}