{% comment %}
  The contents of the product.liquid template can be found in /sections/product-stick-description-v2-template.liquid
{% endcomment %}

{% section 'product-stick-description-v2-template' %}