<div class="account-details">
  <h5>{{'customer.account.details' | t }}</h5>
  {{ customer.default_address | format_address }}
  <a href="/account/addresses" class="btn btn-1">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
</div>