<script type="text/javascript">
  
  var _bc_config = {
    "home_slideshow_auto_delay" 	: "{{ settings.home_slideshow_auto_delay }}"
    ,"show_multiple_currencies" 	: "{{ settings.show_multiple_currencies }}"
    ,"money_format" 				: '{{ shop.money_format }}'
    ,"enable_image_blance" 			: "{{ settings.enable_image_blance }}"
    ,"image_blance_width" 			: "{{ settings.image_blance_width }}"
    ,"image_blance_height" 			: "{{ settings.image_blance_height }}"
    ,"enable_title_blance"			: "{{ settings.enable_title_blance }}"
  };
    
</script>