{% assign _item_style = settings.product_item_style %}
{% assign _item_effect = settings.product_item_hover_effect %}

{% if text_align == blank %}
{% assign text_align = settings.text_align_product_item %}
{% endif %}

<div class="big-grid-item product-wrapper style-{{ _item_style }} effect-{{ _item_effect }}">

  <div class="product-head">
    <div class="product-image">

      {% capture _image_html %}{{ product.featured_image | product_img_url: '900x' }}{% endcapture %}
      
      {% capture number_of_images %}{{ product.images | size }}{% endcapture %}
      {% assign number_images = number_of_images | plus:0 %}
      
      <div class="featured-img{% if number_images > 1 and _item_effect == 'switch' %} switch-image{% endif %}{% if _lazyload %} lazyload waiting{% endif %}">
        <a href="{{ product.url | within: collection }}"> 
          <img class="featured-image front{% if _lazyload %} lazyload{% endif %}" {% if _lazyload %}data-{% endif %}src="{% if product.images.size >= 1%}{{ _image_html }}{% else %}{{ 'default-image.jpg' | asset_url }}{% endif %}" alt="{{ product.title | escape }}" />
          
          {% include 'product-label' %}
        </a>
      </div>
      
      {% if _item_style == '2' %}
        <div class="wrap-button-size">
          {% include 'swatch-size' %}
          {% include 'product-button' %}
        </div>
      {% endif %}

    </div>
  </div>

  <div class="product-content text-{{ text_align }}">
    <div class="pc-inner">

      <h5 class="product-name"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h5>
      {% include 'swatch-color' %}
      
      <div class="product-review">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      
      {% include 'product-price' %}
      
      {% if settings.meta_description_excerpt %}
        {% assign meta_shortdes = product.metafields.c_f %}
        {% assign key = 'description_excerpt' %}

        {% unless meta_shortdes.description_excerpt == blank %}
          <div class="product-description">{{ meta_shortdes.description_excerpt }}</div>
        {% endunless %}
      {% endif %} 
      
      {% if _item_style == '1' or _item_style == '3' %}
        {% include 'product-button' %}
      {% endif %}

    </div>
  </div>

</div>

