<div class="breadcrumb-product-page">
  
  <div id="breadcrumb" class="breadcrumb-holder">
    <ul class="breadcrumb">
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" href="/">
          <span itemprop="title" class="d-none">{{ shop.name | escape }}</span>{{ 'general.text.home' | t }}
        </a>
      </li>

      {% if collection %}
        {% if collection.handle %}

          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="d-none">
            <a href="{{collection.url}}" itemprop="url">
              <span itemprop="title">{{ collection.title }}</span>
            </a>
          </li>   
      
          <li>{{ collection.title | link_to: collection.url }}</li>

        {% endif %}
      {% endif %}

      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="d-none">
        <a href="{{product.url}}" itemprop="url">
          <span itemprop="title">{{ product.title }}</span>
        </a>
      </li>
      <li class="active">{{ product.title }}</li>
    </ul>
  </div>
  
  {% if collection %}
    <div class="product-control-buttons">
      {% if collection.previous_product %}
      <a class="prev" href="{{collection.previous_product}}" title="{{ 'products.product.previous' | t }}"><i class="demo-icon icon-left-1"></i></a>
      {% endif %}

      {% if collection.next_product %}
        <a class="next" href="{{collection.next_product}}" title="{{ 'products.product.next' | t }}"><i class="demo-icon icon-right-1"></i></a>
      {% endif %}
    </div>
  {% endif %}
</div>