<div class="cart-sb">
  <form action="/cart" method="post">
    
    <div class="cart-sb-title">
      <span class="c-title">{{ "general.header.cart_info.title" | t }}</span>
      <span class="c-close"><i class="demo-icon icon-close" aria-hidden="true"></i></span>
    </div>
    
    <div id="cart-info">
      <div id="cart-content" class="cart-content">
        <div class="loading"></div>
      </div>
    </div>
  </form>
</div>