<div class="cata-toolbar">
  <div class="group-toolbar">
    
    {% if section.settings.catalog_sb_placement == 'none' and collection.all_tags.size > 0 and section.settings.sb_filters != 'none' %}
      <div class="filter-icon {{ section.settings.sb_filters_style }}"><i class="demo-icon icon-option"></i>{{ settings.heading_sb_filters }}</div>
    {% endif %}
    
    {% include 'collection-sorting' %}
    
    {% if section.settings.show_col_gl %}
      <div class="grid-list">
        <span class="grid active" title="{{ 'collections.general.title_grid' | t }}"><i class="demo-icon icon-th-large"></i></span>
        <span class="list" title="{{ 'collections.general.title_list' | t }}"><i class="demo-icon icon-th-list"></i></span>
      </div>
    {% endif %}
    
  </div>
</div>