<a class="currency_wrapper" href="javascript:;">
  <span class="currency_code">{{ shop.currency }}</span>
  <span class="expand"><i class="demo-icon icon-angle-down"></i></span>
</a>

<ul class="currencies">
  {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
  {% assign supported_codes = settings.supported_currencies | split: ' ' %}
  <li class="currency-{{shop.currency}} active">
    <a href="javascript:;"><i class="flag-{{shop.currency|downcase}}"></i><span>{{ shop.currency }}</span></a>
    <input type="hidden" value="{{ shop.currency }}" />
  </li>
  {% for code in supported_codes %}
  {% if code != shop.currency and codes contains code %}
  <li class="currency-{{code}}">
    <a href="javascript:;"><i class="flag-{{code|downcase}}"></i><span>{{ code }}</span></a>
    <input type="hidden" value="{{ code }}" />
  </li>
  {% endif %}
  {% endfor %}
</ul>

<select class="currencies_src hide" name="currencies">
  {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
  {% assign supported_codes = settings.supported_currencies | split: ' ' %}
  <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
  {% for code in supported_codes %}
  {% if code != shop.currency and codes contains code %}
  <option value="{{ code }}">{{ code }}</option>
  {% endif %}
  {% endfor %}
</select>
