<li class="dropdown{% if l.active %} active{% endif %}">
  <a href="{{ l.url }}" class="dropdown-link"><span>{{ l.title }}</span></a>
  <span class="expand"></span>

  <ul class="dropdown-menu">
    {% for l in linklists[submenu].links %}
      {% include 'nav-sub-link' %}
    {% endfor %}
  </ul>
</li>