{% if collection.all_tags.size > 0 and section.settings.sb_filters != 'none' %}
  <div class="filter-sidebar{% if section.settings.catalog_sb_placement == 'none' %} no-sidebar {{ section.settings.sb_filters_style }}{% endif %}">
    <div class="sb-filter-wrapper">
      
      {% if section.settings.catalog_sb_placement == 'none' %}
      <div class="f-close"><i class="demo-icon icon-close"></i></div>
      {% endif %}

      {% comment %} -- filter by group -- {% endcomment %}
      {% if section.settings.sb_filters == 'groups' %}

        {% if template contains 'collection' and collection.all_tags.size > 0 %}
        {% assign c = 0 %}
        {% for t in collection.all_tags %}
        {% capture cat %}{{ cat }}{% capture temp_cat %}{% if t contains '_' %}{% assign cat_grp = t | split: '_' %}{{ cat_grp.first }}{% endif %}{% endcapture %}{% unless cat contains temp_cat %}{% if t contains '_' %}{% assign new_cat_grp = t | split: '_' %}{{ new_cat_grp.first }}{% endif %}{% unless forloop.last %}+{% endunless %}{% assign c = c | plus: 1 %}{% endunless %}{% endcapture %}
        {% endfor %}
        {% assign cat_array = cat | split: '+' %}
        {% endif %}

        <div class="sbw-filter">
          <div class="grid-uniform">

            {% comment %}
            Loop through tag categories
            {% endcomment %}

            {% assign i = 0 %}
            {% for cat_item in cat_array %}
              {% assign i = i | plus: 1 %}

              {% comment %}
              Ignore if tag category is empty
              {% endcomment %}

              {% unless cat_item == '' %}
                <div class="sb-filter {{ cat_item | downcase }}" id="filter-{{ i }}">
                  <div class="sbf-title">
                    <span>{{ cat_item }}</span>
                    <a href="#" class="clear-filter hidden hide" id="clear-filter-{{ i }}" style="float: right;">Clear</a>
                  </div>

                  {% capture ci %}{{ cat_item | downcase }}{% endcapture %}
                  <ul class="advanced-filters{% if ci == 'color' %} list-inline afs-color{% endif %}">

                    {% comment %}
                    Loop through collection tags
                    {% endcomment %}

                    {% for custom_tag in collection.all_tags %}
                      {% if custom_tag contains cat_item %}

                        {% comment %}
                        Strip out tag category prefix and add/remove link for tag filtering
                        {% endcomment %}  

                        {% assign file_extension = 'png' %}
                        {% assign value = custom_tag | remove_first: cat_item | remove: '_' %}

                        {% if current_tags contains custom_tag %}

                          {% if ci == 'color' %}
                            <li class="advanced-filter active-filter af-color" data-group="{{ cat_item }}" data-handle="{{ custom_tag | handleize }}" style="background-color:{{ value | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }});">
                              {{ '' | remove_first: cat_item | remove: '_' | link_to_remove_tag: custom_tag | replace: 'tag Color_', '' }}
                            </li>
                          {% else %}
                            <li class="advanced-filter rt active-filter" data-group="{{ cat_item }}" data-handle="{{ custom_tag | handleize }}">
                              {{ custom_tag | remove_first: cat_item | remove: '_' | link_to_remove_tag: custom_tag }}
                            </li>
                          {% endif %}

                        {% else %}

                          {% if ci == 'color' %}
                            <li class="advanced-filter af-color" data-group="{{ cat_item }}" style="background-color:{{ value | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }});">
                              {{ '' | remove_first: cat_item | remove: '_' | link_to_add_tag: custom_tag | replace: 'Narrow selection to products matching tag Color_', '' }}
                            </li>
                          {% else %}
                            <li class="advanced-filter rt" data-group="{{ cat_item }}">
                              {{ custom_tag | remove_first: cat_item | remove: '_' | link_to_add_tag: custom_tag }}
                            </li>
                          {% endif %}

                        {% endif %}

                      {% endif %}
                    {% endfor %}
                  </ul>

                </div>
              {% endunless %}

            {% endfor %}
          </div>
        </div>

      {% comment %} -- filter by tag -- {% endcomment %}
      {% else %}

        <div class="sb-tag">
          <ul class="list-unstyled sb-filter-tag">

            {% unless current_tags %}
              <li class="active first"><span>All Items</span></li>

            {% else %}
              {% if collection.handle %}
                {% capture collection_url %}/collections/{{ collection.handle }}{% unless collection.sort_by == blank %}?sort_by={{ collection.sort_by }}{% endunless %}{% endcapture %}
              {% endif %}

              <li class="first">
                <a href="{{ collection_url }}"><span>All Items</span></a>
              </li>

            {% endunless %}

            {% for tag in collection.all_tags %}
              {% if current_tags contains tag %}
                <li class="active{% if forloop.length == forloop.index %} last{% endif %}">
                  <span>{{ tag }}</span>
                </li>

              {% else %}
                <li {% if forloop.length == forloop.index %}class="last"{% endif %}>
                  <a href="/collections/{% if collection.handle.size > 0 %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}">
                    <span>{{ tag }}</span>
                  </a>
                </li>

              {% endif %}
            {% endfor %}

          </ul>     
        </div>

      {% endif %}

    </div>
  </div>
{% endif %}