<div class="header-main">
  <div class="table-row">

    <div class="navbar navbar-responsive-menu d-xl-none">
      <div class="responsive-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>

    <div class="wrap-header-left">
      {% if shop.customer_accounts_enabled %}
        <div class="customer-account d-none d-lg-block">
          <a href="/account" title="{{ 'general.header.my_account' | t }}"><i class="fa fa-user"></i></a>
        </div>
      {% endif %}

      {% unless section.settings.nav_linklist == blank %}
        <div class="horizontal-menu dropdown-fix d-none d-xl-block">
          <div class="sidemenu-holder">

            <nav class="navbar navbar-expand-lg">
              <div class="collapse navbar-collapse">
                <ul class="menu-list">
                  {% for l in linklists[section.settings.nav_linklist ].links %}
                  {% include 'nav-link' %}
                  {% endfor %}
                </ul>
              </div>
            </nav>

          </div>
        </div>
      {% endunless %}
    </div>

    <div class="header-logo">
      <a href="/" title="{{ shop.name | escape }}" class="logo-site{% if _lazyload %} lazyload waiting{% endif %}">
        <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ section.settings.logo | img_url: _logo_size }}" alt="{{ shop.name | escape }}" style="max-width: {{ section.settings.logo_max_width }}px;" />
      </a>
    </div>

    <div class="wrap-header-right">
      {% unless section.settings.nav_right_linklist == blank %}
        <div class="right-menu dropdown-fix d-none d-xl-block">
          <div class="sidemenu-holder">

            <nav class="navbar navbar-expand-lg">
              <div class="collapse navbar-collapse">
                <ul class="menu-list">
                  {% for l in linklists[section.settings.nav_right_linklist ].links %}
                  {% include 'nav-link' %}
                  {% endfor %}
                </ul>
              </div>
            </nav>

          </div>
        </div>
      {% endunless %}

      <div class="header-icons d-none d-lg-block">
        <ul class="list-inline">

          {% if settings.show_search %}
            <li class="search-icon" data-toggle="modal" data-target="#searchModal">
              <a href="javascript:;"{% if _lazyload %} class="lazyload waiting"{% endif %}>
                {% if settings.search_icon_type == 'font-icon' %}
                  <i class="demo-icon {{ settings.search_font_icon }}"></i>
                {% else %}
                  <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ settings.search_icon | img_url: '20x' }}" alt="Search" />
                {% endif %}
              </a>
            </li>
          {% endif %}
          
          {% if settings.enable_multiple_currencies %}
          <li class="currency uppercase currency-block">
            {% include 'currencies-switcher' %}
          </li>
          {% endif %}
          
          {% if shop.customer_accounts_enabled %}
            <li class="customer-account">
              <a href="/account" title="{{ 'general.header.my_account' | t }}"{% if _lazyload %} class="lazyload waiting"{% endif %}>
                {% if settings.account_icon_type == 'font-icon' %}
                <i class="demo-icon {{ settings.account_font_icon }}"></i>
                {% else %}
                <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ settings.account_icon | img_url: '20x' }}" alt="Account" />
                {% endif %}
              </a>
            </li>
          {% endif %}


          {% if settings.enable_product_wishlist %}
            {% assign wishlist_link = '/pages/wishlist-page'%}
            <li class="wishlist-target">
              <a href="{{ wishlist_link }}" class="num-items-in-wishlist show-wishlist{% if _lazyload %} lazyload waiting{% endif %}" title="{{ 'general.header.wish_list' | t }}">

                <span class="wishlist-icon">
                  {% if settings.wishlist_icon_type == 'font-icon' %}
                    <i class="demo-icon {{ settings.wishlist_font_icon }}"></i>
                  {% else %}
                    <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ settings.wishlist_icon | img_url: '20x' }}" alt="Wishlist" />
                  {% endif %}
                  <span class="number">0</span>
                </span>

              </a>
            </li>
          {% endif %}

          {% if settings.enable_product_compare %}
            {% assign i = 0 %}
            {% for tags in customer.tags %}
              {% if tags contains 'compare--' %}{% assign i = i | plus: 1 %}{% endif %}
            {% endfor %}

            {% assign compare_link = '/pages/compare-page'%}

            <li class="compare-target">
              <a href="{{ compare_link }}" class="num-items-in-compare show-compare{% if _lazyload %} lazyload waiting{% endif %}" title="{{'general.header.compare' | t }}">
                <span class="compare-icon">
                  {% if settings.compare_icon_type == 'font-icon' %}
                    <i class="demo-icon {{ settings.compare_font_icon }}"></i>
                  {% else %}
                    <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ settings.compare_icon | img_url: '20x' }}" alt="Compare" />
                  {% endif %}
                  <span id="compare-number" class="number">{{ i }}</span>
                </span>
              </a>
            </li>
          {% endif %}

          {% if settings.show_cart %}   
            <li class="top-cart-holder{% if settings.cart_styles == 'dropdown' %} hover-dropdown{% endif %}">
              <div class="cart-target">		

                {% if settings.cart_styles == 'dropdown' %}
                  <a href="javascript:void(0)" class="basket dropdown-toggle{% if _lazyload %} lazyload waiting{% endif %}" title="cart">
                    {% if settings.compare_icon_type == 'font-icon' %}
                      <i class="demo-icon {{ settings.cart_font_icon }}"></i>
                    {% else %}
                      <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ settings.cart_icon | img_url: '20x' }}" alt="Cart" />
                    {% endif %}
                    <span class="number"><span class="n-item">{{ cart.item_count }}</span></span>
                  </a>

                  <div class="cart-dd">
                    <div id="cart-info">
                      <div id="cart-content" class="cart-content">
                        <div class="loading"></div>
                      </div>
                    </div>
                  </div>

                {% else %}
                  <a href="javascript:void(0)" class="basket cart-toggle{% if _lazyload %} lazyload waiting{% endif %}" title="cart">
                    {% if settings.compare_icon_type == 'font-icon' %}
                      <i class="demo-icon {{ settings.cart_font_icon }}"></i>
                    {% else %}
                      <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ settings.cart_icon | img_url: '20x' }}" alt="Cart" />
                    {% endif %}
                    <span class="number"><span class="n-item">{{ cart.item_count }}</span></span>
                  </a>

                {% endif %}

              </div>
            </li>            
          {% endif %}

        </ul>
      </div>

    </div>

  </div>
</div>