{% if template contains 'customers' %}
<script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
<script src="{{ 'bc.customerArea.js'  | asset_url }}"></script>
{% endif %}

<script src="{{ 'jquery-1.11.0.min.js' | asset_url }}" ></script>
<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" async></script><!--<![endif]-->
<!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

<script src="{{ 'bootstrap.4x.min.js' | asset_url }}" defer></script>

<script src="{{ 'jquery.easing.1.3.js' | asset_url }}" defer></script>

<script src="{{ 'modernizr.js' | asset_url }}"  async></script>

{% if template == 'index' or template == 'page.portfolio' %}
<script src="{{ 'jquery.swiper.js' | asset_url }}"></script>
<script src="{{ 'instafeed.min.js' | asset_url }}" defer></script>
<script src="{{ 'bc.isotope.min.js' | asset_url }}"></script>
<script src="{{ 'packery-mode.pkgd.min.js' | asset_url }}"></script>
{% endif %}

<script src="{{ 'cookies.js' | asset_url  }}"></script>
<script src="{{ 'jquery.fancybox.min.js' | asset_url  }}"></script>

<script src="{{ 'jquery.jgrowl.min.js' | asset_url  }}" defer></script>
<script src="{{ 'jquery.elevatezoom.min.js' | asset_url  }}" defer></script>
<script src="{{ 'jquery.owl.carousel.min.js' | asset_url  }}" defer></script>
<script src="{{ 'jquery.plugin.js' | asset_url  }}" defer></script>
<script src="{{ 'jquery.countdown.js' | asset_url  }}" defer></script>

<script src="{{ 'jquery.mb.YTPlayer.min.js' | asset_url }}" defer></script>

<script src="{{ 'bc.ajax-search.js' | asset_url }}" defer></script>

{% if template contains 'collection' and settings.show_sb_filters and settings.sb_filters == 'groups' and collection.all_tags.size > 0 %}
<script src="{{ 'jquery.history.js' | asset_url }}" defer></script>
<script src="{{ 'bc.ajax-filter.js' | asset_url }}" defer></script> 
{% endif %}

<script src="{{ 'option_selection.js' | asset_url  }}" defer></script>

{% if settings.enable_image_blance %}
<script src="{{ 'jquery.fakecrop.js' | asset_url  }}" defer></script>
{% endif %}

<script src="{{ 'bc.global.js' | asset_url  }}" defer></script>
<script src="{{ 'bc.script.js' | asset_url }}"></script>
