{% if template == 'index' %}
{{ 'jquery.swiper.css' | asset_url | stylesheet_tag }}
{% endif %}

{{ 'arenafont.css' | asset_url | stylesheet_tag }}

{{ 'bootstrap.4x.css' | asset_url | stylesheet_tag }}
{{ 'jquery.owl.carousel.css' | asset_url | stylesheet_tag }}

{{ 'jquery.plugin.css' | asset_url | stylesheet_tag }}

{{ 'bc.style.scss.css' | asset_url | stylesheet_tag }}

