<link href="//fonts.googleapis.com/css?family={{settings.header_font_1 | replace: ' ', '+'}}:200,300,400,700" rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family={{settings.header_font_2 | replace: ' ', '+'}}:" rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family={{settings.general_font_1 | replace: ' ', '+'}}:100,300,400,500,600,700,800,900" rel='stylesheet' type='text/css'>