<div class="mobile-layout-bar d-lg-none">
  <ul class="m-block-icons list-inline">
    
    {% if shop.customer_accounts_enabled %}
    <li class="m-customer-account">
      <a href="/account" title="{{ 'general.header.my_account' | t }}">
        {% if settings.account_icon_type == 'font-icon' %}
          <i class="demo-icon {{ settings.account_font_icon }}"></i>
        {% else %}
          <img src="{{ settings.account_icon | img_url: '20x' }}" alt="Account" />
        {% endif %}
      </a>
    </li>
    {% endif %}
     
    <li class="search-button searchbox" data-toggle="modal" data-target="#searchModal">
      <a href="javascript:;">
        {% if settings.search_icon_type == 'font-icon' %}
          <i class="demo-icon {{ settings.search_font_icon }}"></i>
        {% else %}
          <img src="{{ settings.search_icon | img_url: '20x' }}" alt="Search" />
        {% endif %}
      </a>
    </li>
    
    {% if settings.enable_multiple_currencies %}
      <li class="currency uppercase currency-block">
          {% include 'currencies-switcher' %}
      </li>
    {% endif %}
    
    {% if settings.show_cart %}
      <li class="m-cart-icon cart-target">
        <a href="/cart" class="mobile-basket" title="cart">
          {% if settings.compare_icon_type == 'font-icon' %}
            <i class="demo-icon {{ settings.cart_font_icon }}"></i>
          {% else %}
            <img src="{{ settings.cart_icon | img_url: '20x' }}" alt="Cart" />
          {% endif %}

          <span class="number"><span class="n-item">0</span></span>
        </a>
      </li>
    {% endif %}
    
  </ul>
</div>