<div id="layer-addcart-modal">
  <div class="layer-addcart-modal container">

    <p class="note">
      {{ 'general.cart_modal.cart_modal_successfully' | t }}
      <a href="/cart">{{ 'general.cart_modal.view_cart' | t }}</a> {{ 'general.cart_modal.or' | t }} <a href="/checkout">{{ 'general.cart_modal.checkout' | t }}</a>
    </p>
    <div class="am-close" title="{{ 'customer.general.close' | t }}"><i class="demo-icon icon-close"></i>{{ 'customer.general.close' | t }}</div>

  </div>    
</div>