{% if settings.show_mailchip_popup %}
  <div id="mailchimp-popup" style="display:none;" data-expires="{{settings.mailchip_popup_expires}}">

    {% if settings.mailchip_popup_bg %}
      <div class="mailchimp-popup-img">
        <img alt="" src="{{'mailchip_popup_bg.jpg' | asset_url}}" />
      </div>
    {% endif %}
    
    <div class="mailchimp-popup-content">
      {% if settings.mailchip_popup_heading != blank %}
        <h3 class="title">{{settings.mailchip_popup_heading}}</h3>
      {% endif %}

      {% if settings.mailchip_popup_content_1 != blank %}
        <div class="mailchimp-caption-1">{{settings.mailchip_popup_content_1}}</div>
      {% endif %}

      <form id="mc-form" action="{{ settings.mailchip_popup_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank">
        <input id="mc-email" class="input-block-level" type="email" name="EMAIL" placeholder="{{ settings.mailchip_popup_placeholder }}" required />
        <button class="btn btn-2" type="submit">Subscribe</button>
      </form>
    </div>    

  </div>
{% endif %}