{% assign submenu = l.title | handleize %}
{% if linklists[submenu].links.size > 0 %}
  <li class="dropdown dropdown-submenu">
    <a href="{{ l.url }}" class="dropdown-link">
      <span>{{ l.title }}</span>    
    </a>
    
    <span class="expand"></span>
    
    <ul class="dropdown-menu">
      {% for l in linklists[submenu].links %}
        {% include 'nav-sub-link' %}
      {% endfor %}
    </ul>
  </li>
{% else %}
  <li><a tabindex="-1" href="{{ l.url }}"><span>{{ l.title }}</span></a></li>
{% endif %}
