<div class="product-button">
        
  <div class="product-add-cart">
    {% if product.variants.size > 1 %}
      <a href="{{ product.url | within: collection }}" class="btn-add-cart select-options" title="{{ 'products.product.select_options' | t }}">{{ 'products.product.select_options' | t }}</a>

    {% else %}
      {% if product.available %}
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <a href="javascript:void(0)" class="btn-add-cart add-to-cart" title="{{ 'products.product.add_to_cart' | t }}">{{ 'products.product.add_to_cart' | t }}</a>
          <select class="d-none" name="id">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
            {% endfor %}
          </select>
        </form>
      {% endif %}

    {% endif %}
  </div>

  {% if settings.enable_product_compare %}
    {% assign compare_link = pages["compare-page"].url %}
    <div class="product-compare">
      <a href="{{ compare_link }}"class="add-to-compare add-product-compare" data-handle-product="{{product.handle}}"{% if customer %} data-user="{{ customer.id }}"{% endif %} title="{{ 'products.product.add_compare' | t }}"><i class="demo-icon {{ settings.compare_font_icon }}"></i></a>
    </div>
  {% endif %}
  
  {% if settings.enable_product_wishlist %} 
    {% assign wishlist_link = pages["wishlist-page"].url %} 
    <div class="product-wishlist">
      <a href="{{ wishlist_link }}" class="add-to-wishlist add-product-wishlist" data-handle-product="{{product.handle}}"{% if customer %} data-user="{{ customer.id }}"{% endif %} title="{{ 'products.product.add_to_wishlist' | t }}"><i class="demo-icon {{ settings.wishlist_font_icon }}"></i></a>
    </div>
  {% endif %}
  
</div>