<li class="dropdown">
  <a href="{{ l.url }}" class="dropdown-link"><span>{{ l.title }}</span></a>
  <span class="expand"></span>

  <ul class="dropdown-menu">
    {% for l in linklists[submenu].links %}
      <li><a href="{{ l.url }}">{{ l.title }}</a></li>
    {% endfor %}
  </ul>
</li>