<div class="col-xl-4 col-lg-4 col-md-12">
  <div id="sidebar-blog" class="sidebar">

    {% unless section.settings.blog_categories_menu == blank %}
      <div class="sb-widget">
        <div class="sb-menu">

          {% unless section.settings.blog_categories_title == blank %}
            <h5 class="sb-title">{{ section.settings.blog_categories_title }}</h5>
          {% endunless %}

          <ul class="blog-menu">
            {% for l in linklists[section.settings.blog_categories_menu].links %}
              <li><a href="{{ l.url }}">{{ l.title }}</a></li>
            {% endfor %}
          </ul>

        </div>
      </div>
    {% endunless %}

    {% unless section.settings.sidebar_post == blank %}
      <div class="sb-widget">
        <div class="sb-blog-posts">

          {% unless section.settings.sidebar_post_title == blank %}
            <h5 class="sb-title">{{ section.settings.sidebar_post_title }}</h5>
          {% endunless %}

          {%- assign blog = blogs[section.settings.sidebar_post] -%}
          
          {% unless blog.articles_count == 0 %}
          	<div class="post-list">
            
              {% for article in blog.articles limit: section.settings.sidebar_post_limit %}
                <div class="post-item">

                  <div class="post-item-inner">
                    {% if article.image %}
                      <div class="post-image">
                        <a href="{{ article.url }}">
                          <img src="{{ article | img_url: '150x' }}" alt="Blog" />
                        </a>
                      </div>
                    {% endif %}

                    <div class="post-content">
                      <div class="meta-data">
                        <span class="date">{{ article.published_at | date: "%b %d, %Y" }}</span>
                      </div>

                      <div class="info">
                        <h6><a href="{{ article.url }}">{{ article.title }}</a></h6>
                      </div>
                    </div>
                  </div>         

                </div>
              {% endfor %}
            
            </div>
          {% endunless %}

        </div>
      </div>
    {% endunless %}

    {% if section.settings.enable_sidebar_tags %}
      <div class="sb-widget">
        <div class="sb-blog-tag">

          {% unless section.settings.sidebar_tags_title == blank %}
            <h5 class="sb-title">{{ section.settings.sidebar_tags_title }}</h5>
          {% endunless %}

          <ul class="list-inline">
            <li><a href="{{ shop.url}}/blogs/{{ blog.handle }}">All</a></li>
            {% for tag in blog.all_tags %}

              {% if current_tags contains tag %}
                <li class="active">{{ tag | link_to_remove_tag: tag }}</li>
              {% else %}
                <li>{{ tag | link_to_tag: tag }}</li>
              {% endif %}

            {% endfor %}
          </ul>

        </div>
      </div>
    {% endif %}

  </div>
</div>