<div id="sidebar" class="left-column-container {{ _sb_class }}">

  <div class="sb-widget">
    <div class="sb-menu">
      {% unless section.settings.sb_categories_type == 'none' %}

        {% unless section.settings.sb_categories_title == blank %}
          <h5 class="sb-title">{{ section.settings.sb_categories_title }}</h5>
        {% endunless %}

        <ul class="categories-menu">
          {% if section.settings.sb_categories_type == 'categories' %}

            {% for collection in collections limit: section.settings.sb_categories_limit %}
              {% unless collection.handle == 'frontpage' or collection.handle == 'all' %}
                <li><a href="{{ collection.url }}">{{ collection.title }}</a></li>
              {% endunless %}
            {% endfor %}

          {% else %}
            {% for l in linklists[section.settings.sb_categories_menu].links %}
              {% assign submenu = l.title | handleize %}

              {% if linklists[submenu].links.size > 0 %}
                {% include 'sb-dropdown-menu' %}
              {% else %}
                <li><a href="{{ l.url }}">{{ l.title }}</a></li>
              {% endif %}

            {% endfor %}

          {% endif %}
        </ul>

      {% endunless %}
    </div>
  </div>
  
  {% include 'filter-sidebar' %}

</div>