{% if _follow_us %}
  <div class="box-social">
    <span>{{ 'general.404.follow_us' | t }}</span>
    {% include 'social-media-icons'%}
  </div>
{% endif %}

<div class="product-content">
  {% unless _text_1 == blank %}<div class="text-1">{{ _text_1 }}</div>{% endunless %}

  <div class="p-name {{ _product_name_size }}">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </div>

  {% unless _text_2 == blank %}
    <a href="{{ product.url | within: collection }}" class="btn-discover btn-4">{{ _text_2 }}</a>
  {% endunless %}

  {% unless _text_3 == blank %}<div class="text-3">{{ _text_3 }}</div>{% endunless %}
</div>

<div class="product-image">
  {% capture _image_html %}{{ product.featured_image | product_img_url: '900x' }}{% endcapture %}

  {% capture number_of_images %}{{ product.images | size }}{% endcapture %}
  {% assign number_images = number_of_images | plus:0 %}

  <div class="image-list{% if number_images > 1 %} image-carousel{% endif %}">
    {% if number_images > 1 %}

      {% for image in product.images %}
        <div class="image{% if _lazyload %} lazyload waiting{% endif %}">
          <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ image.src | product_img_url: '900x' }}" alt="{{ product.title | escape }}" alt="{{ product.title | escape }}" />
        </div>
      {% endfor %}

    {% else %}
      <div class="image{% if _lazyload %} lazyload waiting{% endif %}">
        <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{% if product.images.size >= 1 %}{{ _image_html }}{% else %}{{ 'default-image.jpg' | asset_url }}{% endif %}" alt="{{ product.title | escape }}" style="height:900px;" />
      </div>
    
    {% endif %}

  </div>
</div>

<div class="product-index"><span>0{{ forloop.index }}</span></div>