/**
 * Returns the transition properties in the correct format
 * This function is used by @mixin transition($transitions...)
 */

@function get-transition-properties($transition) {
    $property: all;
    $duration: $transition-duration;
    $easing: $transition-timing;
    $delay: null;
    $defaultProperties: ( $property, $duration, $easing, $delay);
    $properties: ();
    @for $i from 1 through length($defaultProperties) {
        $p: null;
        @if $i <=length($transition) {
            $p: nth($transition, $i);
        }
        @else {
            $p: nth($defaultProperties, $i);
        }
        $properties: append($properties, $p);
    }
    @return $properties;
}