{% capture _breadcrumb_image %} {{ section.settings.banner | img_url: '1920x' }} {% endcapture %}
{% if section.settings.banner == blank %}{% capture _breadcrumb_image %} {{ 'breadcrumb_bg.jpg' | asset_url }} {% endcapture %}{% endif %}


<div id="col-main" class="page-404" style="background-image: url({{_breadcrumb_image }});">
  <div class="container text-center">
    
    <div class="box-404-text">
      <h1>{{ 'general.404.title' | t }}</h1>
      <p>{{ 'general.404.text_1' | t }}</p>
      <p>{{ 'general.404.text_2' | t }}<a href="/">{{ 'general.404.homepage' | t }}</a></p>
    </div>
    
    {% if section.settings.social_icons %}
    <div class="box-404-social">
      <span>{{ 'general.404.follow_us' | t }}</span>
      {% include 'social-media-icons'%}
    </div>
    {% endif %}
    
  </div>
</div>

{% schema %}
  {
    "name": "404 page",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner",
        "label": "Banner"
      },
      {
        "type": "checkbox",
        "id": "social_icons",
        "label": "Enable social icons",
		"default": true,
		"info": "Use settings in Extensions > Social icon 01, Social icon 02, Social icon 03, Social icon 04"
      } 
    ]
  }
{% endschema %}