{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

{%- assign _layout = section.settings.layout -%}

{%- assign new_comment = false -%}
{% if comment and comment.created_at %}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{% endif %}

{% if new_comment %}
  {%- assign duplicate_comment = false %}
  {% for comment in article.comments %}
    {% if comment.id == new_comment_id %}
      {%- assign duplicate_comment = true %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if duplicate_comment %}
    {%- assign number_of_comments = article.comments_count -%}
  {% else %}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {% endif %}
{% else %}
  {%- assign number_of_comments = article.comments_count -%}
{% endif %}

<div class="page-article layout-{{ _layout }}">
  <div class="container">
  
    {% if _layout == 'right-sidebar' %}
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12">
    {% endif %}


          <div id="col-main" class="page-article-content">
            
            <article class="post">
              
              {% if article.image %}
                <div class="post-image">
                    <img src="{{ article | img_url: '770x' }}" alt="Article" />
                </div>
              {% endif %}
              
              <div class="post-content">
                <div class="post-tags">
                  {% for tag in article.tags %}
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}{% unless forloop.last %}<span>,</span>{% endunless %}</a>
                  {% endfor %}
                </div>
                
                <h4 class="post-title">{{ article.title }}</h4>

                <ul class="meta-data list-inline">
                  <li class="meta-comment">
                    <i class="demo-icon icon-comment-1"></i><span>{{ article.comments_count }}</span>
                  </li>
                  <li class="meta-date">
                    <i class="demo-icon icon-clock-2"></i><span>{{ article.published_at |date: "%b %d, %Y" }}</span>
                  </li> 
                </ul>

                <div class="post-des">{{ article.content }}</div>     
              </div>
              
              <div class="wrap-author-share">
                <div class="post-author">
                  <ul>
                    {% capture _image %}{{ article.author | handleize }}{% endcapture %}
                    <li class="image"><img src="{{ _image | append: '.png' | asset_url }}" alt="Image" /></li>
                    <li class="text"><span class="author">{{ article.author }}</span><span class="date">{{ article.published_at |date: "%b %d, %Y" }}</span></li>
                  </ul>
                </div>
                
                {% if section.settings.show_share_buttons %}
                  {% include 'social-sharing' %}
                {% endif %}
              </div>
              
              <div class="blog-tags">
                <li><a href="{{ shop.url}}/blogs/{{ blog.handle }}">All</a></li>
                
                {% for tag in blog.all_tags %}
                  {% if current_tags contains tag %}
                    <li class="active">{{ tag | link_to_remove_tag: tag }}</li>
                  {% else %}
                    <li>{{ tag | link_to_tag: tag }}</li>
                  {% endif %}
                {% endfor %}
              </div>
              
              <div class="buttons">
                {% if blog.previous_article %}<a href="{{ blog.previous_article }}" class="btn btn-previous">{{'general.pagination.previous' | t }}</a>{% endif %}
                {% if blog.next_article %}<a href="{{ blog.next_article }}" class="btn btn-next">{{'general.pagination.next' | t }}</a>{% endif %}
              </div>
              
            </article>
            
            {% if blog.comments_enabled? %}
              {% if number_of_comments > 0 %}
                <div class="grid-comments">
                  <h5>{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h5>

                  {% paginate article.comments by 5 %}

                  {% comment %}
                    #comments is required, it is used as an anchor link by Shopify.
                  {% endcomment %}
                  <div id="comments">

                    {% if new_comment %}
                      <p class="note form-success">
                        {% if blog.moderated? %}
                          {{ 'blogs.comments.success_moderated' | t }}
                        {% else %}
                          {{ 'blogs.comments.success' | t }}
                        {% endif %}
                      </p>
                    {% endif %}

                    <ul class="comments">
                      {% comment %}
                        If a comment was just submitted with no blank field, show it.
                      {% endcomment %}
                      {% if new_comment %}
                        <li id="{{ comment.id }}" class="comment">
                          {% include 'comment' %}
                        </li>
                      {% endif %}

                      {% for comment in article.comments %}
                        {% unless comment.id == new_comment_id %}
                          <li id="{{ comment.id }}" class="comment">
                            {% include 'comment' %}
                          </li>
                        {% endunless %}
                      {% endfor %}
                    </ul>

                    {% if paginate.pages > 1 %}
                      {% include 'pagination' %}
                    {% endif %}

                  </div>
                  
                  {% endpaginate %}
                </div>
              {% endif %}
            
            <div class="comment-form">
              {% form 'new_comment', article %}

                <h6>{{ 'blogs.comments.title' | t }}</h6>

                {{ form.errors | default_errors }}
              
              	{% if blog.moderated? %}
                  <p class="moderated">{{ 'blogs.comments.moderated' | t }}</p>
                {% endif %}

                <div class="grid-form">
                  <div class="row">
                    <div class="control-wrapper col-md-6 col-sm-12">
                      <input type="text" name="comment[author]" id="comment-author" class="{% if form.errors contains 'author' %} input-error{% endif %}" placeholder="{{'blogs.comments.name' | t }}" value="{{ form.author }}">
                    </div>

                    <div class="control-wrapper col-md-6 col-sm-12">
                      <input type="email" name="comment[email]" id="comment-email" class="{% if form.errors contains 'email' %} input-error{% endif %}" placeholder="{{'blogs.comments.email' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                    </div>
                  </div>
                  
                  <div class="control-wrapper">
                    <textarea name="comment[body]" id="comment-body" class="{% if form.errors contains 'body' %} input-error{% endif %}" placeholder="{{'blogs.comments.message' | t }}">{{ form.body }}</textarea>
                  </div>
                </div>

                <input type="submit" class="btn btn-1" value="{{ 'blogs.comments.submit' | t }}">
              {% endform %}
            </div>
            
            {% endif %}
            
          </div>


    {% if _layout == 'right-sidebar' %}
        </div>
        {% include 'sidebar-blog' %}
      </div>
    {% endif %}
    
  </div>
</div>


{% schema %}
  {
    "name": "Article pages",
    "settings": [
      {
        "type": "image_picker",
        "id": "breadcrumb_image",
        "label": "Breadcrumb image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "right-sidebar",
            "label": "Right sidebar"
          },
          {
            "value": "none-sidebar",
            "label": "None sidebar"
          }
        ],
        "default": "right-sidebar"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "header",
        "content": "Sidebar Categories"
      },
      {
        "type": "text",
        "id": "blog_categories_title",
        "label": "Title",
		"default": "#categories"
      },
      {
        "type": "link_list",
        "id": "blog_categories_menu",
        "label": "Menu item",
        "info": "Blank to hide"
      },
      {
        "type": "header",
        "content": "Sidebar Posts"
      },
      {
        "type": "text",
        "id": "sidebar_post_title",
        "label": "Title",
		"default": "#blog posts"
      },
      {
        "type": "blog",
        "id": "sidebar_post",
        "label": "Blog item",
		"info": "Blank to hide"
      },
      {
        "type": "text",
        "id": "sidebar_post_limit",
        "label": "Limited items",
        "default": "3"
      },
      {
        "type": "header",
        "content": "Sidebar Tags"
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar_tags",
        "label": "Enable Sidebar Tags",
        "default": true
      },
      {
        "type": "text",
        "id": "sidebar_tags_title",
        "label": "Title",
		"default": "#tags"
      }
    ]
  }
{% endschema %}