{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

{%- assign _layout = section.settings.layout -%}

{% case _layout %}
  {% when 'boxed' %}
    {%- assign _class = "col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" -%}
  {% when 'full' %}
    {%- assign _class = "col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" -%}
  {% else %}
    {%- assign _class = "" -%}
{% endcase %}

<div class="page-blog blog-grid-view layout-{{ _layout }}">
  {% unless _layout == 'full' %}<div class="container">{% endunless %}

    {% paginate blog.articles by section.settings.blog_pagination_limit %}

    {% if blog.articles.size > 0 %}

      {% if _layout == 'right-sidebar' %}
        <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-12">
      {% endif %}

            <div id="col-main" class="page-blog-content{% unless _layout == 'right-sidebar' %} row{% endunless %}">
              {% for article in blog.articles %}

              <article class="post-item {{ _class }}">
                <div class="post-item-inner">

                  {% if article.image %}
                  <div class="post-image">
                    <a href="{{ article.url }}">
                      <img src="{{ article | img_url: '800x' }}" alt="Blog" />
                    </a>
                  </div>
                  {% endif %}

                  <div class="post-content">
                    <div class="meta-data">
                      <span class="date">{{ article.published_at | date: "%b %d, %Y" }}</span>
                    </div>

                    <div class="info">
                      <h5 class="post-title"><a href="{{ article.url }}">{{ article.title }}</a></h5>
                    </div>
                  </div>

                </div>         
              </article>

              {% endfor %}
            </div>

            {% include 'pagination' %}

      {% if _layout == 'right-sidebar' %}
          </div>
          {% include 'sidebar-blog' %}
        </div>
      {% endif %}


    {% else %}
      <p>{{'blogs.article.no_acticles' | t }}</p>

    {% endif %}

    {% endpaginate %}

  {% unless _layout == 'full' %}</div>{% endunless %}
</div>

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "image_picker",
        "id": "breadcrumb_image",
        "label": "Breadcrumb image"
      },
      {
        "type": "text",
        "id": "blog_pagination_limit",
        "label": "Number of articles per page",
        "default": "5"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "boxed",
            "label": "Boxed"
          },
          {
            "value": "full",
            "label": "Full width"
          },
          {
            "value": "right-sidebar",
            "label": "Right sidebar"
          }
        ],
        "default": "boxed"
      },
      {
        "type": "header",
        "content": "Sidebar Categories"
      },
      {
        "type": "text",
        "id": "blog_categories_title",
        "label": "Title",
		"default": "#categories"
      },
      {
        "type": "link_list",
        "id": "blog_categories_menu",
        "label": "Menu item",
        "info": "Blank to hide"
      },
      {
        "type": "header",
        "content": "Sidebar Posts"
      },
      {
        "type": "text",
        "id": "sidebar_post_title",
        "label": "Title",
		"default": "#blog posts"
      },
      {
        "type": "blog",
        "id": "sidebar_post",
        "label": "Blog item",
		"info": "Blank to hide"
      },
      {
        "type": "text",
        "id": "sidebar_post_limit",
        "label": "Limited items",
        "default": "3"
      },
      {
        "type": "header",
        "content": "Sidebar Tags"
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar_tags",
        "label": "Enable Sidebar Tags",
        "default": true
      },
      {
        "type": "text",
        "id": "sidebar_tags_title",
        "label": "Title",
		"default": "#tags"
      }
    ]
  }
{% endschema %}