<script src="{{ 'jquery.ba-dotimeout.min.js' | asset_url }}"></script>
{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

{% assign _lazyload = settings.use_lazyload %}
{% assign _layout = section.settings.collection_layout %}
{% assign _catalog_sb_placement = section.settings.catalog_sb_placement %}

{% if _layout == 'boxed' %}
  {% assign _sb_class = 'col-lg-3 col-md-3 d-none d-md-block' %}
  {% assign _main_class = 'col-lg-9 col-md-9' %}
{% else %}
  {% assign _sb_class = 'col-lg-2 col-md-3 d-none d-md-block' %}
  {% assign _main_class = 'col-lg-10 col-md-9' %}
{% endif %}

<div class="page-cata{% if _layout == 'full' %} full-layout{% endif %}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}
  
  <div class="row">
    
    {% if section.settings.catalog_sb_placement == 'left' %}
      {% include 'sidebar-catalog' %}
    {% endif %}
    
    {% paginate collection.products by section.settings.item_per_page %}
    
    <div class="{% if section.settings.catalog_sb_placement == 'none' %}col-12{% else %}{{ _main_class }}{% endif %}">
      <div id="col-main">
        
        {% if collection.products_count > 0 %}
        
          {% if section.settings.col_des_position == 'top' and collection.description != blank %}
            <div class="cata-description">{{ collection.description }}</div>
          {% endif %}
        
          {% include 'cata-toolbar' %}

          {% if section.settings.catalog_sb_placement == 'none' %}
            {% include 'filter-sidebar' %}
          {% endif %}

          <div class="cata-product cp-grid{% if section.settings.catalog_sb_placement == 'none' %} no-sidebar{% endif %}">
            {% if collection.products.size > 0 %}

              {% for product in collection.products %}
                <div class="product-grid-item mode-view-item number-{{ settings.number_product_per_row }}">
                  {% include 'product-item' %}
                </div>
              {% endfor %}

            {% endif %}
          </div>
        
        {% else %}
          <p>{{ 'collections.general.no_product' | t }}</p>
        {% endif %}

      </div>

      {% if paginate.next %}
        <div class="btn-infinite"></div>
        <div class="loading_img" style="display:none;"><i class="demo-icon icon-spinner"></i></div>
        <div class="load_more d-none"><a href="{{ paginate.next.url }}" class="btn btn-1 btn-load-more">Load more</a></div>
      {% endif %}
      
      {% if section.settings.col_des_position == 'bottom' and collection.description != blank %}
        <div class="cata-description">{{ collection.description }}</div>
      {% endif %}
    </div>
    
    {% endpaginate %}
    
    {% if section.settings.catalog_sb_placement == 'right' %}
      {% include 'sidebar-catalog' %}
    {% endif %}
    
  </div>
  
  {% if _layout == 'boxed' %}</div>{% endif %}
</div>

<script type="text/javascript">
  
  var pInfScrLoading = false;
  var pInfScrMore = true;

  function pInfScrExecute() {
    var infinitePosition = jQuery('.btn-infinite').offset().top;
    
    if(jQuery(document).scrollTop() + jQuery(window).height() > infinitePosition ) {

      pInfScrNode = jQuery('.load_more').last();
      pInfScrURL = jQuery('.load_more a').last().attr("href");
      
      if(!pInfScrLoading && pInfScrNode.length > 0 && pInfScrMore) {
        jQuery.ajax({
          type: 'GET',
          url: pInfScrURL,
          beforeSend: function() {
            pInfScrLoading = true;
            jQuery('.loading_img').fadeIn();
          },
          success: function(data) {
            var filteredData = $(data).find(".mode-view-item");
            jQuery(".cata-product").append(filteredData);
            AT_Main.handleGridList();
            jQuery('.loading_img').fadeOut();
            pInfScrLoading = false;

            if(jQuery(data).find(".load_more a").length){
              jQuery('.load_more a').last().attr("href", jQuery(data).find(".load_more a").last().attr("href"));
            }
            else{
              pInfScrMore = false;
              jQuery('.load_more').remove();
            }
          },
          dataType: "html"
        });
      }
    }
  }
  
  $(document).ready(function () {
    $(window).scroll(function(){
      $.doTimeout( 'scroll', 100, pInfScrExecute);
    });
  });
</script>

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "image_picker",
        "id": "breadcrumb_image",
        "label": "Breadcrumb image"
      },
      {
        "type": "select",
        "id": "collection_layout",
        "label": "Layout",
        "options": [
          {
            "value": "boxed",
            "label": "Boxed"
          },
          {
            "value": "full",
            "label": "Full width"
          }
        ],
        "default": "boxed"
      },
      {
        "type": "select",
        "id": "col_des_position",
        "label": "Position of the collection description",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "top"
      },
      {
        "type": "checkbox",
        "id": "show_col_gl",
        "label": "Enable Grid\/List",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_col_sort_by",
        "label": "Enable Sort by",
        "default": true
      },
      {
        "type": "select",
        "id": "number_product_per_row",
        "label": "Number of products per row",
        "info": "Only grid layout",
        "options": [
          {
            "value": "2",
            "label": "2 products"
          },
          {
            "value": "3",
            "label": "3 products"
          },
          {
            "value": "4",
            "label": "4 products"
          },
          {
            "value": "5",
            "label": "5 products"
          },
          {
            "value": "6",
            "label": "6 products"
          }
        ],
        "default": "3"
      },
      {
        "type": "text",
        "id": "item_per_page",
        "label": "Number of products per page",
        "default": "16"
      },
      {
        "type": "header",
        "content": "Filter",
        "info": "To setup Filter by Groups like our demo, please add product's tag to format 'Group'_'Value'. For example: Color_Black, Brand_Elle"
      },
      {
        "type": "radio",
        "id": "sb_filters_style",
		"label": "Filter style",
        "options": [
          {
            "value": "toggle",
            "label": "Toggle"
          },
          {
            "value": "dropdown",
            "label": "Dropdown"
          }
        ],
		"default": "dropdown",
		"info": "Only for Sidebar Placement is None"
      },
      {
        "type": "radio",
        "id": "sb_filters",
		"label": "Filter type",
        "options": [
          {
            "value": "tags",
            "label": "Filter by Tags"
          },
          {
            "value": "groups",
            "label": "Filter by Groups"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
		"default": "groups"
      },
      {
        "type": "header",
        "content": "Sidebar Placement"
      },
      {
        "type": "select",
        "id": "catalog_sb_placement",
		"label": "Sidebar Placement",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "header",
        "content": "Sidebar Categories"
      },
      {
        "type": "text",
        "id": "sb_categories_title",
        "label": "Heading",
        "default": "#categories"
      },
      {
        "type": "select",
        "id": "sb_categories_type",
        "label": "Content Components",
        "options": [
          {
            "value": "categories",
            "label": "Categories"
          },
          {
            "value": "menu",
            "label": "Menu"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "categories"
      },
      {
        "type": "link_list",
        "id": "sb_categories_menu",
        "label": "Menu item",
        "info": "Only for Content Component is Menu"
      },
      {
        "type": "text",
        "id": "sb_categories_limit",
        "label": "Limited items",
        "default": "6",
        "info": "Only for Content Component is Categories"
      }
    ]
  }
{% endschema %}