{%- assign _layout = section.settings.layout -%}
{%- assign _style = section.settings.style -%}
{% assign _lazyload = settings.use_lazyload %}

<div class="footer-container layout-{{ _layout }} style-{{ _style }}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}

    {% if section.settings.footer_menu and section.blocks.size > 0 %}
      <div class="footer-widget">
        <div class="footer-inner">
          <div class="row">   

            {% for block in section.blocks %}

            {% case block.type %}
            {% when 'logo' %}
            {% assign _width = block.settings.width %}
            <div class="col-lg-{{ _width }} col-md-12 col-sm-12 col-12">
              <div class="footer-block footer-logo">

                {% unless section.settings.logo == blank %}
                <a href="/" title="{{ shop.name | escape }}" class="logo-site{% if _lazyload %} lazyload waiting{% endif %}">
                  <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ section.settings.logo | img_url: _logo_size }}" alt="{{ shop.name | escape }}" style="max-width: {{ section.settings.logo_max_width }}px;" />
                </a>
                {% endunless %}

                {% if block.settings.footer_infor_support %}
                <ul class="infor-support">
                  {% for i in (1..3) %}
                  {% assign _text = 'info_support_text_' | append: i %}

                  {% unless block.settings[_text] == blank %}
                  {% assign _font_icon = 'info_support_' | append: i %}

                  <li>
                    <i class="demo-icon {{ block.settings[_font_icon] }}"></i>
                    <span>{{ block.settings[_text] }}</span>
                  </li>
                  {% endunless %}

                  {% endfor %}
                </ul>
                {% endif %}

                {% if block.settings.social_icon %}
                <div class="widget-social">
                  {% include 'social-media-icons' %}
                </div>
                {% endif %}

              </div>
            </div>

            {% when 'menu' %}
            {% assign _f_menu = block.settings.footer_menu %}

            {% unless _f_menu == blank %}
            {% assign _width = block.settings.width %}
            <div class="col-lg-{{ _width }} col-md-6 col-sm-6 col-12">
              <div class="footer-block footer-menu">

                {% assign _f_title = block.settings.footer_menu_title  %}
                {% unless _f_title == blank %}<h6>{{ _f_title }}</h6>{% endunless %}

                <ul class="f-list">
                  {% for l in linklists[_f_menu].links %}
                  <li><a href="{{ l.url }}"><span>{{ l.title }}</span></a></li>
                  {% endfor %}
                </ul>

              </div>
            </div>      
            {% endunless %}

            {% else %}
            {% assign _width = block.settings.width %}
            <div class="col-lg-{{ _width }} col-md-12 col-sm-12 col-12">
              <div class="footer-block footer-subscribe">

                {% assign _f_title = block.settings.footer_subscribe_title  %}
                {% unless _f_title == blank %}<h6>{{ _f_title }}</h6>{% endunless %}

                <div class="content">

                  {% unless block.settings.footer_subscribe_action == blank %}
                  <div class="subscibe-content">
                    {% unless block.settings.footer_subscribe_caption == blank %}
                    <p>{{ block.settings.footer_subscribe_caption }}</p>
                    {% endunless%}

                    <form action="{{ block.settings.footer_subscribe_action }}" method="post" class="form-inline form-subscribe" name="mc-embedded-subscribe-form" target="_blank">
                      <input class="form-control" type="email" required placeholder="{{ settings.mailchip_popup_placeholder }}" name="EMAIL" id="email-input" />
                      <button type="submit" title="Subscibe" class="btn btn-1">Subscibe</button>
                    </form>
                  </div>
                  {% endunless %}

                  {% if block.settings.footer_payment_icon %}
                  <ul class="payment-icons">
                    {% for i in (1..4) %}
                    {% assign _font_icon = 'payment_icon_' | append: i %}

                    {% unless block.settings[_font_icon] == blank %}
                    {% assign _icon_title = 'payment_icon_title_' | append: i %}
                    <li><i class="demo-icon {{ block.settings[_font_icon] }}" title="{{ block.settings[_icon_title] }}"></i></li>
                    {% endunless %}

                    {% endfor %}
                  </ul>
                  {% endif %}

                </div>

              </div>
            </div>

            {% endcase %}

            {% endfor %}    

          </div>
        </div>            
        
      </div>
    {% endif %}

    <div class="footer-bot">
      <div class="table-row">

        <div class="copyright">
          <p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}. All Rights Reserved</p>
        </div>

        {% if section.settings.style == '1' %}
          {% unless section.settings.logo == blank %}
            <div class="footer-logo">
              <a href="/" title="{{ shop.name | escape }}" class="logo-site{% if _lazyload %} lazyload waiting{% endif %}">
                <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ section.settings.logo | img_url: _logo_size }}" alt="{{ shop.name | escape }}" style="max-width: {{ section.settings.logo_max_width }}px;" />
              </a>
            </div>
          {% endunless %}

          {% if section.settings.enable_footer_social_icons %}
            <div class="widget-social">
              {% include 'social-media-icons' %}
            </div>
          {% endif %}

        {% else %}
          <div class="made-by">Made by {{ shop.name }} with love</div>

        {% endif %}

      </div>
    </div>

  {% if _layout == 'boxed' %}</div>{% endif %}
</div>

<div id="checkLayout">
  <span class="d-block d-sm-none"></span>
  <span class="d-none d-sm-block d-md-none"></span>
  <span class="d-none d-md-block d-lg-none"></span>
  <span class="d-none d-lg-block d-xl-none"></span>
  <span class="d-none d-xl-block"></span>
</div>


{% schema %}
  {
    "name": "Footer",
	"max_blocks": 6,
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "full",
        "options": [
          {
            "value": "boxed",
            "label": "Boxed"
          },
          {
            "value": "full",
            "label": "Wide"
          }
        ]
      },
      {
        "type": "select",
        "id": "style",
        "label": "Style",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Style 01"
          },
          {
            "value": "2",
            "label": "Style 02"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Footer logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "checkbox",
		"id": "footer_menu",
        "label": "Footer menu",
		"default": true,
		"info": "Please add Footer menu"
      },
      {
        "type": "checkbox",
        "id": "enable_footer_social_icons",
        "label": "Social icons",
        "default": true,
		"info": "Use settings in Extensions > Social icon 01, Social icon 02, Social icon 03, Social icon 04"
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "options": [
              {
                "value": "1",
                "label": "1\/12 (8.33%)"
              },
              {
                "value": "2",
                "label": "2\/12 (16,67%)"
              },
              {
                "value": "3",
                "label": "3\/12 (25.00%)"
              },
              {
                "value": "4",
                "label": "4\/12 (33.33%)"
              },
              {
                "value": "5",
                "label": "5\/12 (41.67%)"
              },
              {
                "value": "6",
                "label": "6\/12 (50.00%)"
              },
              {
                "value": "7",
                "label": "7\/12 (58.33%)"
              },
              {
                "value": "8",
                "label": "8\/12 (66.67%)"
              },
              {
                "value": "9",
                "label": "9\/12 (75.00%)"
              },
              {
                "value": "10",
                "label": "10\/12 (83.33%)"
              },
              {
                "value": "11",
                "label": "11\/12 (91.67%)"
              },
              {
                "value": "12",
                "label": "12\/12 (100.00%)"
              }
            ],
            "default": "4"
          },
          {
            "type": "checkbox",
            "id": "footer_logo",
            "label": "Footer logo",
			"default": true,
			"info": "Use settings in Footer section"
          },
          {
            "type": "checkbox",
            "id": "social_icon",
            "label": "Social icons",
			"default": true,
			"info": "Use settings in Extensions > Social icon 01, Social icon 02, Social icon 03, Social icon 04"
          },
          {
            "type": "header",
            "content": "Infor Support"
          },
          {
            "type": "checkbox",
            "id": "footer_infor_support",
            "label": "Enable infor support",
			"default": true
          },
          {
            "type": "text",
            "id": "info_support_1",
            "label": "Font icon name 01",
            "default": "icon-location-1",
            "info": "Default is con-location-1"
          },
          {
            "type": "text",
            "id": "info_support_text_1",
            "label": "Text 01",
            "default": "102580 Santa Monica BLVD Los Angeles"
          },
          {
            "type": "text",
            "id": "info_support_2",
            "label": "Font icon name 02",
            "default": "icon-mail",
            "info": "Default is icon-mail"
          },
          {
            "type": "text",
            "id": "info_support_text_2",
            "label": "Text 02",
            "default": "contact@arenatheme.com"
          },
          {
            "type": "text",
            "id": "info_support_3",
            "label": "Font icon name 03",
            "default": "icon-phone_2",
            "info": "Default is icon-phone_2"
          },
          {
            "type": "text",
            "id": "info_support_text_3",
            "label": "Text 03",
            "default": "+1 902 - 039 - 201"
          }
        ]
      },
      {
        "type": "menu",
        "name": "Menu item",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "options": [
              {
                "value": "1",
                "label": "1\/12 (8.33%)"
              },
              {
                "value": "2",
                "label": "2\/12 (16,67%)"
              },
              {
                "value": "3",
                "label": "3\/12 (25.00%)"
              },
              {
                "value": "4",
                "label": "4\/12 (33.33%)"
              },
              {
                "value": "5",
                "label": "5\/12 (41.67%)"
              },
              {
                "value": "6",
                "label": "6\/12 (50.00%)"
              },
              {
                "value": "7",
                "label": "7\/12 (58.33%)"
              },
              {
                "value": "8",
                "label": "8\/12 (66.67%)"
              },
              {
                "value": "9",
                "label": "9\/12 (75.00%)"
              },
              {
                "value": "10",
                "label": "10\/12 (83.33%)"
              },
              {
                "value": "11",
                "label": "11\/12 (91.67%)"
              },
              {
                "value": "12",
                "label": "12\/12 (100.00%)"
              }
            ],
            "default": "2"
          },
          {
            "type": "text",
            "id": "footer_menu_title",
            "label": "Title",
			"default": "Information"
          },
          {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Menu item"
          }
        ]
      },
      {
        "type": "subscribe",
        "name": "Subscribe",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "options": [
              {
                "value": "1",
                "label": "1\/12 (8.33%)"
              },
              {
                "value": "2",
                "label": "2\/12 (16,67%)"
              },
              {
                "value": "3",
                "label": "3\/12 (25.00%)"
              },
              {
                "value": "4",
                "label": "4\/12 (33.33%)"
              },
              {
                "value": "5",
                "label": "5\/12 (41.67%)"
              },
              {
                "value": "6",
                "label": "6\/12 (50.00%)"
              },
              {
                "value": "7",
                "label": "7\/12 (58.33%)"
              },
              {
                "value": "8",
                "label": "8\/12 (66.67%)"
              },
              {
                "value": "9",
                "label": "9\/12 (75.00%)"
              },
              {
                "value": "10",
                "label": "10\/12 (83.33%)"
              },
              {
                "value": "11",
                "label": "11\/12 (91.67%)"
              },
              {
                "value": "12",
                "label": "12\/12 (100.00%)"
              }
            ],
            "default": "4"
          },
          {
            "type": "text",
            "id": "footer_subscribe_title",
            "label": "Title",
			"default": "Subscribe to our Newsletter"
          },
          {
            "type": "header",
            "content": "Newsletter"
          },
          {
            "type": "textarea",
            "id": "footer_subscribe_caption",
            "label": "Text"
          },
          {
            "type": "textarea",
            "id": "footer_subscribe_action",
            "label": "Form Action",
            "info": "[Where do I get my Subscribe Form Action](http:\/\/shopify.barrelny.com\/where-do-i-find-the-mailchimp-signup-url)"
          },
          {
            "type": "header",
            "content": "Payment icons"
          },
          {
            "type": "checkbox",
            "id": "footer_payment_icon",
            "label": "Enable payment icons",
			"default": true
          },
          {
            "type": "text",
            "id": "payment_icon_1",
            "label": "Font icon name 01",
            "default": "icon-cc-visa",
            "info": "Default is icon-cc-visa"
          },
          {
            "type": "text",
            "id": "payment_icon_title_1",
            "label": "Font icon title 01",
            "default": "Visa"
          },
          {
            "type": "text",
            "id": "payment_icon_2",
            "label": "Font icon name 02",
            "default": "icon-cc-paypal",
            "info": "Default is icon-cc-paypal"
          },
          {
            "type": "text",
            "id": "payment_icon_title_2",
            "label": "Font icon title 02",
            "default": "PayPal"
          },
          {
            "type": "text",
            "id": "payment_icon_3",
            "label": "Font icon name 03",
            "default": "icon-cc-discover",
            "info": "Default is icon-cc-discover"
          },
          {
            "type": "text",
            "id": "payment_icon_title_3",
            "label": "Font icon title 03",
            "default": "Discover"
          },
          {
            "type": "text",
            "id": "payment_icon_4",
            "label": "Font icon name 04",
            "default": "icon-cc-amex",
            "info": "Default is icon-cc-amex"
          },
          {
            "type": "text",
            "id": "payment_icon_title_4",
            "label": "Font icon title 04",
            "default": "American express"
          }
        ]
      }
    ]
  }
{% endschema %}