{%- assign _layout = section.settings.layout -%}
{% assign _header_style = section.settings.header_style %}
{% assign _lazyload = settings.use_lazyload %}

<div class="header-container layout-{{ _layout }} style-{{ _header_style }}" style="background: {{ section.settings.header_bg_color }};" data-style="{{ _header_style }}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}
  
    {% case _header_style %}
      {% when '1' %}
        {% include 'header-style-1' %}
      {% when '2' %}
        {% include 'header-style-2' %}
      {% when '3' %}
        {% include 'header-style-3' %}
      {% when '4' %}
        {% include 'header-style-4' %}
      {% when '5' %}
        {% include 'header-style-5' %}
      {% when '6' %}
        {% include 'header-style-6' %}
      {% when '7' %}
        {% include 'header-style-7' %}
      {% else %}
        {% include 'header-style-8' %}
    {% endcase %}
  
  {% if _layout == 'boxed' %}</div>{% endif %}
  <style type="text/css">
    .mobile-layout-bar {
      background: {{ section.settings.header_bg_color }};
    }
  </style>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "full",
        "options": [
          {
            "value": "boxed",
            "label": "Boxed"
          },
          {
            "value": "full",
            "label": "Wide"
          }
        ]
      },
      {
        "type": "color",
        "id": "header_bg_color",
        "label": "Background color",
		"default": "#ffffff"
      },
      {
        "type": "select",
        "id": "header_style",
        "label": "Header Style",
        "options": [
          {
            "value": "1",
            "label": "Style 01"
          },
          {
            "value": "2",
            "label": "Style 02"
          },
          {
            "value": "3",
            "label": "Style 03"
          },
          {
            "value": "4",
            "label": "Style 04"
          },
          {
            "value": "5",
            "label": "Style 05"
          },
          {
            "value": "6",
            "label": "Style 06"
          },
          {
            "value": "7",
            "label": "Style 07"
          },
          {
            "value": "8",
            "label": "Style 08"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "text",
        "id": "welcome_text",
        "label": "Welcome text",
		"default": "Welcome back",
		"info": "Only for Header style 08, blank to hide"
      },
      {
        "type": "textarea",
        "id": "shipping_text",
        "label": "Shipping text",
		"default": "We shipping Wordwide. Free shupping for all order over $100",
		"info": "Only for Header style 08, blank to hide"
      },
      {
        "type": "link_list",
        "id": "nav_linklist",
        "label": "Main menu - Left menu",
        "default": "main-menu",
		"info": "Not for Mobile"
      },
      {
        "type": "link_list",
        "id": "vertical_nav_linklist",
        "label": "Vertical menu",
		"info": "Only for Header style 08 and not for Mobile"
      },
      {
        "type": "link_list",
        "id": "nav_right_linklist",
        "label": "Right menu",
		"info": "Only for Header style 03, 04 and not for Mobile"
      }
    ]
  }
{% endschema %}