{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

{% if section.blocks.size > 0 %}

<div id="col-main" class="page-lookbook">
  <div class="pl-content">

    {% for block in section.blocks %}
    {%- assign _position = block.settings.position -%}
    
    <div class="pnl panel-{{ forloop.index }} position-{{ _position }}">
      <div class="cover-container clearfix">
        {%- assign _title = block.settings.title -%}
        {%- assign _title_color = block.settings.title_color -%}
        {%- assign _title_size = block.settings.title_size -%}
        {%- assign _caption = block.settings.caption -%}
        {%- assign _caption_color = block.settings.caption_color -%}
        {%- assign _button_text = block.settings.button_text -%}
        {%- assign _link = block.settings.button_link -%}
        {%- assign _image = block.settings.image -%}
        {%- assign _bg_color = block.settings.bg_color -%}

        <div class="text-box" style="background: {{ _bg_color }};">
          {% unless _title == blank %}<div class="title {{ _title_size }}" style="color: {{ _title_color }};">{{ _title }}</div>{% endunless %}
          {% unless _caption == blank %}<div class="caption" style="color: {{ _caption_color }};">{{ _caption }}</div>{% endunless %}
          {% unless _button_text == blank %}<a class="btn btn-1" href="{{ _link }}">{{ _button_text }}</a>{% endunless %}
        </div>

        <div class="block-image">
          {% unless _image == blank %}
          <img src="{{ _image | img_url: '605x' }}" alt="Image" />
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endunless %}
        </div>

        <div class="rev-btn">
          <span class="icon"></span>
          <span class="label">{{ 'general.text.featured_look' | t }}</span>
        </div>
      </div>

      <div class="reveal-container clearfix">
        <div class="prods-wrapper">
          
          {% for i in (1..3) %}
          {%- assign _product = 'product_' | append : i -%}
          
          {% unless block.settings[_product] == blank %}
          <div class="prod-item">

            {%- assign product = all_products[block.settings[_product]] -%}

            <div class="product-image">
              <a href="{{ product.url }}">
                <img class="featured-image front" src="{% if product.images.size >= 1%}{{ product.featured_image | product_img_url: '300x' }}{% else %}{{ 'default-image.jpg' | asset_url }}{% endif %}" alt="{{ product.title | escape }}" />
              </a>
            </div>

            <div class="product-content">
              <h5 class="product-name">
                <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
              </h5>
              <a class="shop-now" href="{{ product.url | within: collection }}">{{ 'general.text.shop_now' | t }}</a>
            </div>

          </div>
          
          {% endunless %}  
          
          {% endfor %}

        </div>
      </div>
    </div>
    
    {% endfor %}

  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    
    jQuery(document).on('click','.rev-btn',function(){
      var e=jQuery(this).parents(".pnl").first();
      if (e.hasClass("open")) {
        e.removeClass("open");
      } else {
        e.addClass("open");
      }
    });
    
  });
</script>

{% endif %}

{% schema %}
  {
    "name": "Lookbook",
	"max_blocks": 8,
	"settings": [
      {
        "type": "image_picker",
        "id": "breadcrumb_image",
        "label": "Breadcrumb image"
      }
    ],
    "blocks": [
      {
        "type": "header",
        "name": "Data",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
			"type": "header",
			"content": "Text Box"
          },
          {
            "type": "select",
            "id": "position",
            "label": "Text box position",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#f1ebd9"
          },
          {
            "type": "paragraph",
            "content": "=== Title"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title text"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#860820"
          },
          {
            "type": "select",
            "id": "title_size",
            "label": "Title font size",
            "default": "h1",
            "options": [
              {
                "value": "h1",
                "label": "Heading 1"
              },
              {
                "value": "h2",
                "label": "Heading 2"
              },
              {
                "value": "h3",
                "label": "Heading 3"
              },
              {
                "value": "h4",
                "label": "Heading 4"
              },
              {
                "value": "h5",
                "label": "Heading 5"
              },
              {
                "value": "h6",
                "label": "Heading 6"
              }
            ]
          },
          {
            "type": "paragraph",
            "content": "=== Caption"
          },
          {
            "type": "textarea",
            "id": "caption",
            "label": "Caption text"
          },
          {
            "type": "color",
            "id": "caption_color",
            "label": "Caption color",
            "default": "#860820"
          },
          {
            "type": "paragraph",
            "content": "=== Button (use config in General settings > General > Button > Button Style 01)"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          },
          {
			"type": "header",
			"content": "Block product items"
          },
          {
            "type": "product",
            "id": "product_1",
            "label": "Product #1"
          },
          {
            "type": "product",
            "id": "product_2",
            "label": "Product #2"
          },
          {
            "type": "product",
            "id": "product_3",
            "label": "Product #3"
          }
        ]
      }
    ]
  }
{% endschema %}