{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

{% if section.blocks.size > 0 %}
<div class="container">
  <div id="col-main" class="page-content page-faq">

    {% for block in section.blocks %}
    <div class="row">

      {%- assign _heading = block.settings.heading -%}
      {% unless _heading == blank %}
        <div class="col-lg-3 d-none d-lg-block">
          <h2>{{ _heading }}</h2>
        </div>
      {% endunless %}
      
      <div class="col-lg-9 col-md-12">
        {% for i in (1..3) %}

        {% capture _title %}{{ 'block_title_' | append : i }}{% endcapture %}
        {% capture _content %}{{ 'block_content_' | append : i }}{% endcapture %}

        {% unless block.settings[_title] == blank %}
        
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <h3>{{ block.settings[_title] }}</h3>
          </div>
          
          <div class="col-md-7 col-sm-12">
            <p>{{ block.settings[_content] }}</p>
          </div>
        </div>
        
        {% endunless %}
       
        {% endfor %}
      </div>

    </div>
    {% endfor %}

  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "FAQ Page",
	"max_blocks": 5,
    "settings": [
      {
        "type": "image_picker",
        "id": "breadcrumb_image",
        "label": "Breadcrumb image"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "heading",
			"label": "Heading",
			"default": "Payment"
          },
          {
            "type": "header",
            "content": "Block 01"
          },
          {
            "type": "textarea",
            "id": "block_title_1",
            "label": "Title",
			"info": "Blank to hide this block"
          },
          {
            "type": "textarea",
            "id": "block_content_1",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Block 02"
          },
          {
            "type": "textarea",
            "id": "block_title_2",
            "label": "Title",
			"info": "Blank to hide this block"
          },
          {
            "type": "textarea",
            "id": "block_content_2",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Block 03"
          },
          {
            "type": "textarea",
            "id": "block_title_3",
            "label": "Title",
			"info": "Blank to hide this block"
          },
          {
            "type": "textarea",
            "id": "block_content_3",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}