{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

<div class="page-contact">

  <div class="container">
    <div id="col-main" class="page-contact-content">
      
      {% if section.blocks.size > 0 %}
      <div class="contact-info">
        <ul class="list-inline">
          
          {% for block in section.blocks %}
          {%- assign _image = block.settings.image -%}
          {%- assign _image_size = block.settings.image_size -%}
          {%- assign _text_1 = block.settings.text_1 -%}
          {%- assign _text_2 = block.settings.text_2 -%}

          <li>
            {% unless _image == blank %}<img src="{{ _image | img_url: _image_size }}" alt="Icon" />{% endunless %}
            <span class="text">
              {% unless _text_1 == blank %}<span class="text-1">{{ _text_1 }}</span>{% endunless %}
              {% unless _text_2 == blank %}<span class="text-2">{{ _text_2 }}</span>{% endunless %}
            </span>
          </li>
          
          {% endfor %}
          
        </ul>
      </div>
      {% endif %} 

      <div class="contact-form-wrapper">
        
        <div class="title-wrapper">
          {% unless section.settings.contact_form_title == blank %}<h3>{{ section.settings.contact_form_title }}</h3>{% endunless %}
          {% unless section.settings.contact_form_description == blank %}<p>{{ section.settings.contact_form_description }}</p>{% endunless %}
        </div>

        <div class="contact-form">
          {% form 'contact' %}

          {% if form.posted_successfully? %}
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              {{'contact.form.post_success' | t }}
            </div>
          {% endif %}

          {% if form.errors %}
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

          <div id="contact-form">
            <div class="row">
              <div class="form-group col-lg-6 col-md-12">
                <label for="name">{{ 'contact.form.name' | t }}<span class="req">*</span></label>
                <input type="text" id="name" class="form-control" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.first_name }} {{ customer.last_name }}{% endif %}" name="contact[name]" />
              </div>

              <div class="form-group col-lg-6 col-md-12{% if form.errors contains 'email' %} error{% endif %}">
                <label for="email">{{ 'contact.form.email' | t }}<span class="req">*</span></label>
                <input required type="email" id="email" class="form-control" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" name="contact[email]" />
              </div>
            </div>

            <div class="form-group{% if form.errors contains 'body' %} error{% endif %}">
              <label for="message">{{ 'contact.form.message' | t }}</label>
              <textarea required id="message" class="form-control" cols="40" rows="7" name="contact[body]">{{ form.body }}</textarea>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-1">{{'contact.form.submit_button' | t }}</button>
            </div>
          </div>

          {% endform %}
        </div>
      </div>

    </div>
  </div>
  
  {% if section.settings.enable_contact_map %}
    <div class="map-wrapper">
        <div id="page-contact-map" class="map" style="height: 520px;"></div>
    </div>
  {% endif %}

</div>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCmqy8wIh9KCnj_WKXqaskSCM-AUpXd01Q"></script>
<script>
    /*---- Google map -----*/
    (function () {
        "use strict";

        if (jQuery("#page-contact-map")) {
            var locations = [
              ['<div class="map-info-box"><p>{{ shop.address.street }}, {{ shop.address.city }}, {{ shop.address.country }}</p></div>', {{ settings.contact_latlong }}, 9]
            ];

            var map = new google.maps.Map(jQuery("#page-contact-map")[0], {
                zoom: {{settings.contact_zoom_lv}},
                scrollwheel: {{settings.contact_scroll}},
              	center: new google.maps.LatLng({{ settings.contact_latlong }}),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();


            var marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    animation: google.maps.Animation.DROP,
                  	icon: '{{"pin.png" | asset_url}}',
                });

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
    }());

</script>

{% schema %}
  {
    "name": "Contact Page",
	"max_blocks": 3,
    "settings": [
      {
        "type": "image_picker",
        "id": "breadcrumb_image",
        "label": "Breadcrumb image"
      },
      {
        "type": "header",
        "content": "Contact form"
      },
      {
        "type": "checkbox",
        "id": "enable_contact_form",
        "label": "Enable Contact form",
        "default": true
      },
      {
        "type": "text",
        "id": "contact_form_title",
        "label": "Title",
		"default": "#get in touch"
      },
      {
        "type": "textarea",
        "id": "contact_form_description",
        "label": "Description",
		"default": "If you need any help, please contact us or send us an email"
      },
      {
        "type": "header",
        "content": "Map settings"
      },
      {
        "type": "checkbox",
        "id": "enable_contact_map",
        "label": "Enable Map",
        "default": true
      },
      {
        "type": "text",
        "id": "contact_latlong",
        "label": "Latitude and Longitude",
        "info": "Please click [here](http:\/\/latlong.net) to get Latitude and Longitude",
		"default": "51.514863, -0.133689"
      },
      {
        "type": "select",
        "id": "contact_zoom_lv",
        "label": "Select Zoom Level",
        "options": [
          {
            "value": "0",
            "label": "0"
          },
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "9",
            "label": "9"
          },
          {
            "value": "10",
            "label": "10"
          },
          {
            "value": "11",
            "label": "11"
          },
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          }
        ],
		"default": "17"
      },
      {
        "type": "checkbox",
        "id": "contact_scroll",
        "label": "Scroll Wheel"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Contact info",
        "settings": [
          {
            "label": "Image",
            "id": "image",
            "type": "image_picker"
          },
          {
            "label": "Image size",
            "id": "image_size",
            "type": "text",
			"default": "35x50",
			"info": "Default is 35x50 pixels"
          },
          {
            "label": "Text 01",
            "id": "text_1",
            "type": "text"
          },
          {
            "label": "Text 02",
            "id": "text_2",
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}
