{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

{% if section.blocks.size > 0 %}
  {% assign _layout = section.settings.layout %}

  <div class="page-portfolio layout-{{ _layout }}">

    {% if _layout == 'boxed' %}<div class="container">{% endif %}
      <div id="col-main" class="page-portfolio-content">

        <div class="portfolio-list portfolio-masonry">
          {% for block in section.blocks %}
            {%- assign _width = block.settings.width -%}
            {%- assign _image = block.settings.image -%}
            {%- assign _image_size = block.settings.image_size -%}
            {%- assign _link = block.settings.link -%}

            <div class="portfolio-item width-{{ _width }}">
              <a href="{{ _link }}"><img src="{{ _image | img_url: _image_size }}" alt="Portfolio" /></a>
            </div>

          {% endfor %}
        </div>

      </div>
    {% if _layout == 'boxed' %}</div>{% endif %}
  </div>

  <script>
    jQuery(document).ready(function($){
      if( jQuery('.portfolio-masonry').length > 0 ){

        if( 'undefined' === typeof Isotope ){
          console.log(" Isotope has not defined yet! ");
          return;
        }

        jQuery('.portfolio-masonry').isotope({
          itemSelector: '.portfolio-item',
          layoutMode: 'packery'
        });
      }
    })
  </script>

{% endif %}

{% schema %}
  {
    "name": "Portfolio pages",
	"max_blocks": 20,
	"settings": [
      {
        "type": "image_picker",
        "id": "breadcrumb_image",
        "label": "Breadcrumb image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "boxed",
        "options": [
          {
            "value": "boxed",
            "label": "Boxed"
          },
          {
            "value": "full",
            "label": "Wide"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "33",
            "options": [
              {
                "value": "16",
                "label": "16%"
              },
              {
                "value": "20",
                "label": "20%"
              },
              {
                "value": "25",
                "label": "25%"
              },
              {
                "value": "33",
                "label": "33%"
              },
              {
                "value": "40",
                "label": "40%"
              },
              {
                "value": "50",
                "label": "50%"
              },
              {
                "value": "75",
                "label": "75%"
              },
              {
                "value": "100",
                "label": "100%"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "image_size",
            "label": "Image size",
            "default": "380x380",
            "info": "For exam: 380x380 pixels"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}