{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

{% if section.blocks.size > 0 %}
<div id="col-main" class="page-content page-about-us">

  <div class="container">
    
    {% if section.settings.testimonial %}
    <div class="type-testimonial">
      <div class="testimonial">
        
        {% for block in section.blocks %}

        {% if block.type == 'testimonial' %}
        
        {%- assign _image = block.settings.image -%}
        {%- assign _image_size = block.settings.image_size -%}
        {%- assign _message = block.settings.message -%}
        {%- assign _rating = block.settings.rating -%}
        {%- assign _name = block.settings.name -%}
        {%- assign _customer = block.settings.customer -%}

        <div class="item">
          
          {% unless _message == blank %}<span class="message"><i class="demo-icon icon-quote-left"></i>{{ _message }}</span>{% endunless %}
          
          {% unless _image == blank %} 
          <img src="{{ _image | img_url: _image_size }}" alt="Image" />
          {% endunless %}

          <span class="rating">
            {% case _rating %}
              {% when 1 %}
                <span></span>
              {% when 2 %}
                <span></span><span></span>
              {% when 3 %}
                <span></span><span></span><span></span>
              {% when '4' %}
                <span></span><span></span><span></span><span></span>
              {% else %}
                <span></span><span></span><span></span><span></span><span></span>
            {% endcase %}
          </span>
          
          {% unless _name == blank %}<span class="name">{{ _name }}</span>{% endunless %}
          {% unless _customer == blank %}<span class="customer">{{ _customer }}</span>{% endunless %}

        </div>
        
        {% endif %}
        
        {% endfor %}
        
      </div>
    </div>
    {% endif %}

   	{% if section.settings.logo_list %}
    <div class="type-logo-list">
      <div class="logo-list">
        {% for block in section.blocks %}

        {% if block.type == 'logo_list' %}
        
          {%- assign _image = block.settings.image -%}
          {%- assign _image_size = block.settings.image_size -%}
          {%- assign _link = block.settings.link -%}

          {% unless _image == blank %}
            <div class="item">
              <a href="{{ _link }}"><img src="{{ _image | img_url: _image_size }}" alt="Image" /></a>
            </div>
          {% endunless %}
        
        {% endif %}
        
        {% endfor %}

      </div>
    </div>
    {% endif %}
    
    {% if section.settings.our_team %}
    <div class="type-our-team">
      <div class="our-team">
        
        {% unless section.settings.team_title == blank %}
          <div class="title-wrapper">
            <h3>{{ section.settings.team_title }}</h3>
            {% unless section.settings.team_caption == blank %}<p>{{ section.settings.team_caption }}</p>{% endunless %}
          </div>
        {% endunless %}
        
        <div class="row-table">
          <div class="row">
            {% for block in section.blocks %}

            {% if block.type == 'team' %}

            {%- assign _image = block.settings.image -%}
            {%- assign _image_size = block.settings.image_size -%}
            {%- assign _name = block.settings.name -%}
            {%- assign _major = block.settings.major -%}
            {%- assign _facebook = block.settings.facebook -%}
            {%- assign _twitter = block.settings.twitter -%}
            {%- assign _pinterest = block.settings.pinterest -%}

            <div class="item col-lg-4 col-md-6 col-sm-6 col-12">
              {% unless _image == blank %}
              <img src="{{ _image | img_url: _image_size }}" alt="Image" />
              {% endunless %}

              {% unless _name == blank %}<span class="name">{{ _name }}</span>{% endunless %}
              {% unless _major == blank %}<span class="major">{{ _major }}</span>{% endunless %}

              <ul class="social-icon">
                {% unless _facebook == blank %}<a href="{{ _facebook }}"><i class="social_facebook"></i></a>{% endunless %}
                {% unless _twitter == blank %}<a href="{{ _twitter }}"><i class="social_twitter"></i></a>{% endunless %}
                {% unless _pinterest == blank %}<a href="{{ _pinterest }}"><i class="social_pinterest"></i></a>{% endunless %}
              </ul>
            </div>

            {% endif %}

            {% endfor %}
          </div>
        </div>

      </div>
    </div>
    {% endif %}

  </div>
  
  {% if section.settings.banner_text %}
  <div class="type-banner-text">
    <div class="banner-text">
      
      {% for block in section.blocks %}

      {% if block.type == 'banner_text' %}

      {%- assign _image = block.settings.image -%}
      {%- assign _image_size = block.settings.image_size -%}
      {%- assign _text = block.settings.text -%}
      {%- assign _button_text = block.settings.button_text -%}
      {%- assign _link = block.settings.button_link -%}

      <div class="item">
        {% unless _image == blank %}
        <div class="image">
          <img src="{{ _image | img_url: _image_size }}" alt="Image" />
        </div>
        {% endunless %}

        <div class="wrap-text-box" style="background-color: {{ block.settings.bg_color }}">
          <div class="text-box">
            {% unless _text == blank %}<span class="text" style="color: {{ block.settings.text_color }}">{{ _text }}</span>{% endunless %}
            {% unless _button_text == blank %}<a href="{{ _link }}" class="btn btn-2">{{ _button_text }}</a>{% endunless %}
          </div>
        </div>
      </div>

      {% endif %}

      {% endfor %}
      
    </div>
  </div>
  {% endif %}

</div>
{% endif %}

{% schema %}
  {
    "name": "About Us Page",
	"max_blocks": 50,
    "settings": [
      {
        "type": "image_picker",
        "id": "breadcrumb_image",
        "label": "Breadcrumb image"
      },
      {
        "type": "header",
        "content": "Testimonial",
		"info": "Please add Content from Content section, select type is 'Testimonial'"
      },
      {
        "type": "checkbox",
        "id": "testimonial",
        "label": "Show Testimonial",
		"default": true
      },
      {
        "type": "header",
        "content": "Logo list",
		"info": "Please add Content from Content section, select type is 'Logo list'"
      },
      {
        "type": "checkbox",
        "id": "logo_list",
        "label": "Show Logo list",
		"default": true
      },
      {
        "type": "header",
        "content": "Our Team",
		"info": "Please add Content from Content section, select type is 'Our Team'"
      },
      {
        "type": "checkbox",
        "id": "our_team",
        "label": "Show our team",
		"default": true
      },
      {
        "type": "text",
        "id": "team_title",
        "label": "Text",
		"default": "#our team"
      },
      {
        "type": "textarea",
        "id": "team_caption",
        "label": "Caption",
		"default": "If you need any help, please contact us or send us an email "
      },
      {
        "type": "header",
        "content": "Banner & Text",
		"info": "Please add Content from Content section, select type is 'Banner & Text'"
      },
      {
        "type": "checkbox",
        "id": "banner_text",
        "label": "Show Banner & Text",
		"default": true
      } 
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "label": "Image",
            "id": "image",
            "type": "image_picker"
          },
          {
            "type": "text",
            "id": "image_size",
            "label": "Image size",
            "info": "Default is 100x100 pixels",
			"default": "100x100"
          },
          {
            "label": "Message",
            "id": "message",
            "type": "textarea",
			"default": "Good design is as little design as possible"
          },
          {
            "type": "select",
            "id": "rating",
            "label": "Rating",
            "default": "5",
            "options": [
              {
                "value": "1",
                "label": "1 star"
              },
              {
                "value": "2",
                "label": "2 stars"
              },
              {
                "value": "3",
                "label": "3 stars"
              },
              {
                "value": "4",
                "label": "4 stars"
              },
              {
                "value": "5",
                "label": "5 stars"
              }
            ]
          },
          {
            "label": "Name",
            "id": "name",
            "type": "text",
			"default": "Igor ten"
          },
          {
            "label": "Customer",
            "id": "customer",
            "type": "text",
			"default": "Customer"
          }
        ]
      },
      {
        "type": "logo_list",
        "name": "Logo list",
        "settings": [
          {
            "label": "Image",
            "id": "image",
            "type": "image_picker"
          },
          {
            "type": "text",
            "id": "image_size",
            "label": "Image size",
            "info": "Default is 170x60 pixels",
			"default": "170x60"
          },
		  {
            "label": "Link",
            "id": "link",
            "type": "url"
          }
        ]
      },
      {
        "type": "team",
        "name": "Our team",
        "settings": [
          {
            "label": "Image",
            "id": "image",
            "type": "image_picker"
          },
          {
            "type": "text",
            "id": "image_size",
            "label": "Image size",
            "info": "Default is 370x370 pixels",
			"default": "370x370"
          },
          {
            "label": "Name",
            "id": "name",
            "type": "text"
          },
          {
            "label": "Major",
            "id": "major",
            "type": "text"
          },
          {
            "label": "Facebook link",
            "id": "facebook",
            "type": "text",
            "default": "https://www.facebook.com/shopify/"
          },
		  {
            "label": "Twitter link",
            "id": "twitter",
            "type": "text",
            "default": "https://twitter.com/Shopify"
          },
		  {
            "label": "Pinterest link",
            "id": "pinterest",
            "type": "text",
            "default": "https://www.pinterest.com/shopify/"
          }
        ]
      },
      {
        "type": "banner_text",
        "name": "Banner & Text",
        "settings": [
          {
            "type": "header",
            "content": "Banner"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "image_size",
            "label": "Image size",
            "info": "Default is 1100x770 pixels",
            "default": "1100x770"
          },
          {
            "type": "header",
            "content": "Text box"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#f5f5f5"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#000000"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
			"default": "Our marketplace makes it easy to buy directly from small businesses across the globe."
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "Join us"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}