<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
  <span itemprop="name" class="hide">{{ product.title }}</span>

  {% assign _product_layout = 'bundle' %}
  {% assign _layout = section.settings.product_layout %}

  {% assign meta_bw = product.metafields.c_f %}

  {% unless meta_bw.bundle_1 == blank %}
  {% assign accessory_handle_1 = meta_bw.bundle_1 %}
  {% assign accessory_1 = all_products[accessory_handle_1] %}
  {% endunless %}

  {% unless meta_bw.bundle_2 == blank %}
  {% assign accessory_handle_2 = meta_bw.bundle_2 %}
  {% assign accessory_2 = all_products[accessory_handle_2] %}
  {% endunless %}

  <div id="col-main" class="page-product layout-{{ _product_layout }}">

    {% if _layout == 'boxed' %}<div class="container">{% endif %}
      <div class="product" style="background-color: {{ section.settings.background_color }}">
        <div class="product-content-wrapper">

          <div id="product-image" class="product-image">
            <div class="product-image-inner">

              {% if product.images.size > 0 %}

                {% if section.settings.meta_video %}
                  {% assign _meta_video = product.metafields.c_f %}
                  {% assign key = 'video_url' %}

                  {% unless _meta_video.video_url == blank %}
                    <div class="meta-video">
                      <a href="{{ _meta_video.video_url }}" class="m-video"><i class="demo-icon icon-play-circle2"></i>{{ 'products.product.video' | t }}</a>
                    </div>

                    <script src="{{ 'jquery.fancybox-media.js' | asset_url  }}"></script>

                    <script>
                      $(document).ready(function() {
                        $('.m-video').fancybox({
                          openEffect  : 'none',
                          closeEffect : 'none',
                          helpers : {
                            media : {}
                          }
                        });
                      });
                    </script>

                  {% endunless %}

                {% endif %}

                <div class="slick-gallery-image">
                  {% for image in product.images %}
                    <div class="slick-item">
                      <img class="slick-image" src="{{ image.src | product_img_url: '1024x1024' }}" alt="{{ product.title | escape }}">
                    </div>
                  {% endfor %}
                </div>

              {% else %}
                <img src="{{ 'default-image.jpg' | asset_url }}" />

              {% endif %}

            </div>
          </div>

          <div id="product-info" class="product-info">
            <div class="product-info-inner">
              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                {% if product.available %}
                  <link itemprop="availability" href="http://schema.org/InStock" />
                {% else %}
                  <link itemprop="availability" href="http://schema.org/OutOfStock" />
                {% endif %} 

                {% if section.settings.show_product_vendor and product.vendor %}
                  <div class="author">{{ product.vendor | link_to_vendor }}</div>
                {% endif %}

                <h1 itemprop="name" content="{{ product.title }}" class="page-heading">{{ product.title }} </h1>

                <meta itemprop="priceCurrency" content="{{ shop.currency }}" />

                <div class="group-price-sale">
                  <div id="purchase-{{ product.id }}" class="product-price">
                    <div class="detail-price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">

                      {% if product.compare_at_price_max > product.price %}
                        <span class="price-sale">{{ product.price | money }}</span>
                        <del class="price-compare"> {{ product.compare_at_price | money }}</del>
                      {% else %}
                        <span class="price">{{ product.price | money }}</span>
                      {% endif %}

                      <span class="t-price hide">{{ product.price }}</span>
                    </div>
                  </div>
                </div>

                {% if section.settings.product_tab_review %}
                  <div class="rating-links">
                    <div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div>
                    <a href="#tab_review">{{ 'products.product.add_your_review' | t }}</a>
                  </div>
                {% endif %}

                {% if section.settings.meta_description_excerpt %}
                  {% assign meta_shortdes = product.metafields.c_f %}
                  {% assign key = 'description_excerpt' %}

                  {% unless meta_shortdes.description_excerpt == blank %}
                    <div class="short-description">{{ meta_shortdes.description_excerpt }}</div>
                  {% endunless %}
                {% endif %}

                {% if product.available %}

                  {% include 'product-detail-deals' %}

                  {% assign hide_default_title = false %}

                  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                    {% assign hide_default_title = true %}
                  {% endif %}

                  <div class="group-cw clearfix">
                    <form action="/cart/add" method="post" id="bundledAddToCart">
                      <div class="bundled-items">

                        {% assign _swatches_size = 0 %} 
                        {% assign _swatches_color = 0 %}
                        {% assign _swatches_colour = 0 %}

                        {% for option in product.options %}
                          {% assign _option = option | downcase %}

                          {% if section.settings.show_swatches_color and _option == "color" %}
                            {% assign _swatches_color = 1 %}
                          {% endif %}

                          {% if section.settings.show_swatches_color and _option == "colour" %}
                            {% assign _swatches_colour = 1 %}
                          {% endif %}

                          {% if section.settings.show_swatches_size and _option == "size" %}
                            {% assign _swatches_size = 1 %} 
                          {% endif %}
                        {% endfor %}

                        <div class="bundled-item bundled-item-0 product-action ">

                          <div class="variants-wrapper{% if _swatches_color == 1 or _swatches_colour == 1 %} show-swatches-color{% endif %}{% if _swatches_size == 1 %} show-swatches-size{% endif %} clearfix">
                            <select id="product-select-0" name="id[]" style="display:none;">

                              {% for variant in product.variants %}

                                {% if variant.available %}
                                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>

                                {% else %}
                                  <option disabled="disabled">
                                    {{ variant.title }} - {{'products.product.sold_out' | t }}
                                  </option>

                                {% endif %}

                              {% endfor %}

                            </select>
                          </div>

                          <div class="wrap-swatch">
                            {% if section.settings.show_swatches_color %}
                              {% if product.available and product.variants.size > 1 %}

                              {% if _swatches_color == 1 %}
                                {% include 'swatch' with 'Color' %}
                              {% endif %}

                              {% if _swatches_colour == 1 %}
                                {% include 'swatch' with 'Colour' %}
                              {% endif %}

                              {% endif %} 
                            {% endif %}

                            {% if section.settings.show_swatches_size %}
                              {% if product.available and product.variants.size > 1 %}

                              {% if _swatches_size == 1 %}
                                {% include 'swatch' with 'Size' %}
                              {% endif %}

                              {% endif %}
                            {% endif %}
                          </div>

                          <ul class="wrap-quantity-add-cart">
                            <li class="quantity-product">
                              <div id="qty-{{ product.id }}" class="product-qty product-qty-0">
                                <label>{{ 'products.product.quantity' | t }}</label>
                                <div class="global-qty-wrapper">
                                  <span class="global-product-info-qty-minus"><i class="demo-icon icon-minus"></i></span>
                                  <input id="{{ product.variants.first.id }}" name="updates[{{ product.selected_or_first_available_variant.id }}]" class="field" min="1" type="text" value="1" />
                                  <span class="global-product-info-qty-plus"><i class="demo-icon icon-plus"></i></span>
                                </div>
                              </div>

                            <li class="action-button">
                              <button id="add-to-cart" class="bt-add-to-cart btn btn-2" type="button"><span class="flaticon-commerce"></span>{{ 'products.product.add_to_cart' | t }}</button> 
                            </li>
                          </ul>

                        </div>

                        {% assign meta_bw = product.metafields.c_f %}
                        <div id="crust-items" class="crust-items{% unless meta_bw.bundle_1 == blank %} bundled-1-true{% endunless %} {% unless meta_bw.bundle_2 == blank %} bundled-2-true{% endunless %}">

                          {% unless meta_bw.bundle_1 == blank %}
                            <div class="bundled-item bundled-item-1">
                              <input type="checkbox" class="bundled-checkbox" id="bundled-1" name="bundled1" value="bi1">

                              <div class="b-info">
                                {% assign featured_image_1 = accessory_1.selected_or_first_available_variant.featured_image | default: accessory_1.featured_image %}
                                <img src="{{ featured_image_1 | product_img_url: '50x' }}" alt="{{ featured_image_1.title | escape }}" />

                                <h4>{{ accessory_1.title }}</h4>

                                <div id="purchase-{{ accessory_1.id }}" class="bundled-price b-price-1">
                                  {% if accessory_1.variants.first.compare_at_price and accessory_1.variants.first.price < accessory_1.variants.first.compare_at_price %}
                                    <span class="price-compare"> {{ product.variants.first.compare_at_price | money }}</span>
                                  {% endif %}
                                  <span class="price">{{ accessory_1.variants.first.price | money }}</span>
                                  <span class="t-price hide">{{ accessory_1.variants.first.price }}</span>
                                </div>

                                <div id="qty-{{ accessory_1.id }}" class="product-qty product-qty-1 hide">
                                  <input id="{{ accessory_1.variants.first.id }}" name="updates[{{ accessory_1.selected_or_first_available_variant.id }}]" class="field" min="0" type="text" value="0" />
                                </div>
                              </div>
                            </div>
                          {% endunless %}

                          {% unless meta_bw.bundle_2 == blank %}
                            <div class="bundled-item bundled-item-2">
                              <input type="checkbox" class="bundled-checkbox" id="bundled-2" name="bundled2" value="bi2">

                              <div class="b-info">
                                {% assign featured_image_2 = accessory_2.selected_or_first_available_variant.featured_image | default: accessory_2.featured_image %}
                                <img src="{{ featured_image_2 | product_img_url: '50x' }}" alt="{{ featured_image_2.title | escape }}" />

                                <h4>{{ accessory_2.title }}</h4>

                                <div id="purchase-{{ accessory_2.id }}" class="bundled-price b-price-2">
                                  {% if accessory_2.variants.first.compare_at_price and accessory_2.variants.first.price < accessory_2.variants.first.compare_at_price %}
                                    <span class="price-compare"> {{ product.variants.first.compare_at_price | money }}</span>
                                  {% endif %}
                                  <span class="price">{{ accessory_2.variants.first.price | money }}</span>
                                  <span class="t-price hide">{{ accessory_2.variants.first.price }}</span>
                                </div>

                                <div id="qty-{{ accessory_2.id }}" class="product-qty product-qty-2 hide">
                                  <input id="{{ accessory_2.variants.first.id }}" name="updates[{{ accessory_2.selected_or_first_available_variant.id }}]" class="field" min="0" type="text" value="0" />
                                </div>
                              </div>
                            </div>
                          {% endunless %}

                        </div>

                        <div class="image-bundled">
                          <div class="bundled-total-price">
                            <div id="bundled-tp-{{ product.id }}" class="total-price">Total price: <span class="price">{{ product.price | money }}</span></div>
                          </div>
                        </div>

                      </div>
                    </form>
                  </div>

                {% else %}
                  <meta itemprop="price" content="{{ product.price | divided_by: 100.00  }}" />

                  <div class="group-cw clearfix">
                    <button id="add-to-cart" class="sold-out btn btn-2" type="button">{{'products.product.sold_out' | t }}</button>
                  </div>

                {% endif %} 

                <ul class="product-sku-collection">
                  {% if section.settings.show_product_sku %}
                    <li class="product-code"{% if product.variants.first.sku == blank %} style="display:none;{% endif %}">
                      <span>{{ 'products.product.product_code' | t }}</span>
                      <span id="sku">{{ product.variants.first.sku }}</span>
                    </li>
                  {% endif %}

                  {% if section.settings.show_product_collections and product.collections.size > 0 %}
                    <li class="category">
                      <span>{{ 'products.product.category' | t }}</span>
                      {% for p_col in product.collections %}
                        <a href="{{ p_col.url }}">{{ p_col.title }}{% unless forloop.last %},{% endunless %}</a>
                      {% endfor %}
                    </li>
                  {% endif %}
                </ul>

                {% if settings.show_social_sharing_product %}
                  {% include 'social-sharing' %}
                {% endif %}

              </div>

            </div>
          </div>

        </div>
      </div>
    {% if _layout == 'boxed' %}</div>{% endif %}

    {% if section.settings.show_product_tab %}
      {% include 'product-toggle' %}
    {% endif %}

	{% if section.settings.product_tab_review == 'below' %}
      <div class="review-item" id="tab_review_tabbed">
        <div id="tab-review">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      </div>
    {% endif %}

    {% if section.settings.meta_banner %}
      {% assign meta_banner = product.metafields.c_f %}
      {% assign key = 'banner_url' %}
    
      {% unless meta_banner.banner_url == blank %}
        <div class="meta-banner">
          <img src="{{ meta_banner.banner_url }}" atl="Banner" />
          {% if section.settings.follow_us %}
            <div class="box-social">
              <span>{{ 'general.404.follow_us' | t }}</span>
              {% include 'social-media-icons'%}
            </div>
          {% endif %}
        </div>
      {% endunless %}
    
    {% endif %}

    {% if section.settings.enable_related_product %}
      {% include 'related-product' %}
    {% endif %}

  </div>

</div>

{% include 'notify-product-slider' %}

<script type="text/javascript">

	// initialize multi selector for product
	$(window).load(function() {
      
        setTimeout(function(){
          AT_Main.scareWidth();
        }, 1000);

		/* selectCallback */
		var selectOptionsCallback = function(variant, selector) {

			if (variant) {
				var form = jQuery('#' + selector.domIdPrefix).closest('form');
				for (var i=0,length=variant.options.length; i<length; i++) {
					var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
					if (radioButton.size()) {
						radioButton.get(0).checked = true;
					}
				}
			}  
          
			var add_to_cart = '#add-to-cart';
			var $price = '#purchase-' + selector.product.id.toString() + ' .detail-price';
          	var $price_default = '#price-default-' + selector.product.id.toString();
          	var $price_total = '#bundled-tp-' + selector.product.id.toString();
          
            jQuery(".global-qty-wrapper").html('<span class="global-product-info-qty-minus"><i class="demo-icon icon-minus"></i></span><input id="' + variant.id  + '" class="field" min="0" type="text" value="1"' + '/><span class="global-product-info-qty-plus"><i class="demo-icon icon-plus"></i></span>');
          
			if (variant && variant.available) {

				// Update variant image
				if (variant.featured_image) {
                  setTimeout(function(){
                    var originalImage = jQuery('.slick-gallery-image .slick-current .slick-image');
                    var newImage = variant.featured_image;
                    var element = originalImage[0];

                    Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
                      jQuery('.slick-gallery-image img').each(function() {
                        var grandSize = jQuery(this).attr('src');
                        newImageSizedSrc = newImageSizedSrc.replace('https:','');

                        if (grandSize == newImageSizedSrc) {
                          var slideIndex = $(this).parents('.slick-slide').data("slick-index");
                          $('.slick-gallery-image').slick('slickGoTo', slideIndex, true);
                        }
                      });
                    });
                  }, 1000);
                }
              	

				// selected a valid variant
				$(add_to_cart).removeClass('disabled').removeAttr('disabled').html('<span class="flaticon-commerce"></span>{{ "products.product.add_to_cart" | t }}'); // remove unavailable class from add-to-cart button, and re-enable button

				if(variant.compare_at_price == null){
					$($price).html('<span class="price">' + Shopify.formatMoney(variant.price, '{{shop.money_format}}') + '</span><span class="t-price hide">' + variant.price + '</span>');
                    
                    {% if settings.enable_saleoff_label %}
                      jQuery("#label-sale").html('').hide();
                    {% endif %}
                  
                  	$($price_default).html('<span class="price">' + Shopify.formatMoney(variant.price, '{{shop.money_format}}') + '</span>');
				}
			  
				else {
                  
                  	$($price).html('<span class="price-sale">'+Shopify.formatMoney(variant.price, '{{shop.money_format}}') + '</span>' + '<del class="price-compare">' + Shopify.formatMoney(variant.compare_at_price, '{{shop.money_format}}') + '</del>');
                                                                                       
                    {% if settings.enable_saleoff_label %}
                      jQuery("#label-sale").html('<span class="sale-text">{{ "products.label.sale" | t }}</span>').show();
                    {% endif %}
                  
                  	$($price_default).html('<span class="price">'+Shopify.formatMoney(variant.price, '{{shop.money_format}}') + '</span>' + '<span class="price-compare">' + Shopify.formatMoney(variant.compare_at_price, '{{shop.money_format}}') + '</span>');
				}
                                                                                      
                /* Update currency */
                {% if settings.show_multiple_currencies %}
                  currenciesCallbackSpecial('#product-info span.money');
				{% endif %}
                                           
                if ($('#bundled-1').is(':checked')) { $('.product-qty-1 .field').val(1); }

                var _price1 = 0;
                if( $('#crust-items').hasClass('bundled-1-true') && $(".product-qty-1 .field").val() != 0 ){  _price1 = Number($(".b-price-1 .t-price").html());}
                  
                if ($('#bundled-2').is(':checked')) { $('.product-qty-2 .field').val(1); }

                var _price2 = 0;
                if( $('#crust-items').hasClass('bundled-2-true') && $(".product-qty-2 .field").val() != 0 ){var _price2 = Number($(".b-price-2 .t-price").html());}

                $($price_total).html('Total price: <span class="price">' + Shopify.formatMoney(variant.price + _price1 + _price2, '{{shop.money_format}}') + '</span>');
                                                                                  
                {% if settings.show_multiple_currencies %}
                   currenciesCallbackSpecial('.bundled-total-price span.money');
				{% endif %}
                
			}
			else {
				$(add_to_cart).addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
				var message = variant ? "{{'products.product.sold_out' | t }}" : "{{'products.product.unavailable' | t }}";
				$(add_to_cart).html(message);
				//$($price).html('<span class="unavailable">' + message + '</span>');
			}
                
            {% if settings.show_product_sku %}
                if (variant && variant.sku ) { jQuery("#sku").html(variant.sku).parent().show(); }
                else{jQuery("#sku").parent().hide(); }
			{% endif %}
		};

        {% if product.variants.size > 1 %}
            new Shopify.OptionSelectors("product-select-0", { product: {{ product | json | remove:'\u003E' | remove:'\u003C' | remove:'\u00a0' }}, onVariantSelected: selectOptionsCallback });
        {% endif %}
              
		// Add label if only one product option
		{% if product.options.size == 1 and product.options.first != 'Title' %}
			$('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
		{% endif %}
												 
		// Hide selectors if we only have 1 variant and its title contains 'Default'.
		{% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
			$('.selector-wrapper').hide();
		{% endif %}

	});
      
    jQuery(document).ready(function($) {
        
      AT_Main.handleOrderFormQty();
      
      jQuery('.layout-bundle .bundled-checkbox').change(function () {
          var _price0 = Number($(".detail-price .t-price").html());
          var e = $(this).parents(".bundled-item").first();

          if ($(this).is(':checked')) {
            $(this).attr( 'checked', true );
            var _new_number = $('.global-qty-wrapper .field').val();
            e.find('.product-qty .field').val(_new_number);
          }
          else{$(this).attr( 'checked', false ); e.find('.product-qty .field').val(0);}

          var _price1 = 0;
          if( $('#crust-items').hasClass('bundled-1-true') && $(".product-qty-1 .field").val() != 0 ){ _price1 = Number($(".b-price-1 .t-price").html());}

          var _price2 = 0;
          if( $('#crust-items').hasClass('bundled-2-true') && $(".product-qty-2 .field").val() != 0 ){ _price2 = Number($(".b-price-2 .t-price").html());}

          var _price = $('.total-price');
          var _tprice = _price0 + _price1 + _price2;

          $(_price).html('Total price: <span class="price">'+Shopify.formatMoney(_tprice, _bc_config.money_format)+'</span>');

          {% if settings.show_multiple_currencies %}
            currenciesCallbackSpecial('.bundled-total-price span.money');
          {% endif %}
      });

        window.onload = function() {
          var reloading = sessionStorage.getItem("reloading");
          if (reloading) {
            sessionStorage.removeItem("reloading");
            setTimeout(function(){
              {% if settings.cart_styles == 'dropdown' %}$('#layer-addcart-modal').show();$('.addcart-modal-box').show();{% else %}addCart(){% endif %};
            }, 1000);
          }
        }

        function reloadP() {
          sessionStorage.setItem("reloading", "true");
          document.location.reload();
        }
      
        $("body").on('click', '.bt-add-to-cart', function(){ 

          $('#bundledAddToCart').find('.bundled-item').each(function( index,value){
            
            var _current_id = $(value).find('.product-qty .field').attr('id');
            if($(value).find('.bundled-checkbox').is(':checked') || $(value).hasClass('bundled-item-0') ){
              var _quantity = $('.global-qty-wrapper .field').val();
            }
            
            if( _quantity > 0 ){
              $.ajax({
                type: 'POST',
                url: '/cart/add.js',
                async: false,
                cache: false,
                dataType: 'json',                               
                data: { id : _current_id,quantity: _quantity},            
                success: function(response){
                  $('.loading').show();
                  console.log(response);
                  setTimeout(function(){
                    addToCartSuccess();
                  }, 1000);
                },
                error: function(data){
                  console.log(data);   
                  alert("All items are in your cart");
                }             
              });
            }

          });

        });

    });
      
</script>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "product_layout",
        "label": "Layout",
        "options": [
          {
            "value": "boxed",
            "label": "Boxed"
          },
          {
            "value": "full",
            "label": "Full width"
          }
        ],
        "default": "full"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
  		"default": "#f5f5f5"
      },
      {
        "type": "checkbox",
        "id": "show_product_vendor",
        "label": "Product Vendor",
  		"default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_collections",
        "label": "Product Collections",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_product_sku",
        "label": "Product Code - SKU",
		"default": true
      },
      {
        "type": "checkbox",
        "id": "swatches_color_image",
        "label": "Use variant images for swatch color",
        "info": "Make sure you have activated 'Adding Color Swatches' option"
      },
      {
        "type": "header",
        "content": "Color and Size Swatches"
      },
      {
        "type": "checkbox",
        "id": "show_swatches_color",
        "label": "Adding Color Swatches",
		"default": true
      },
      {
        "type": "checkbox",
        "id": "show_swatches_size",
        "label": "Adding Size Swatches",
		"default": true
      },
      {
        "type": "header",
        "content": "Metafield",
        "info": "Metafield allow you to attach metadata, which is additional information to a store's resources. Please install the [Custom Fields](http:\/\/freakdesign.com.au\/pages\/shopify-custom-fields) from chrome extension."
      },
      {
        "type": "checkbox",
        "id": "meta_countdown_timer",
        "label": "Metafields Countdown Timer: c_f.countdown_timer",
        "default": true,
        "info": "Please make sure you config product's compare price to make this label visible [(?)](http:\/\/help.shopify.com\/manual\/products\/promoting-marketing\/sales)"
      },
      {
        "type": "checkbox",
        "id": "meta_description_excerpt",
        "label": "Metafields Description Excerpt: c_f.description_excerpt",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "meta_video",
        "label": "Metafields video: c_f.video_url",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "meta_size_chart",
        "label": "Metafields size chart: c_f.image_size_chart",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "meta_banner",
        "label": "Metafields banner: c_f.banner_url",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "follow_us",
        "label": "Show follow us",
        "default": true,
        "info": "Use settings in Extensions > Social icon 01, Social icon 02, Social icon 03, Social icon 04"
      },     
      {
        "type": "header",
        "content": "Product Tabs"
      },
      {
        "type": "checkbox",
        "id": "show_product_tab",
        "label": "Show product tabs",
		"default": true,
		"info": "To customize your product tabs, please scroll to Content section and add content."
      },
      {
        "type": "select",
        "id": "product_tab_review",
        "label": "Product Review Position",
        "options": [
          {
            "label": "Inside the product tabs",
            "value": "inside"
          },
          {
            "label": "Below the product tabs",
            "value": "below"
          },
          {
            "label": "None",
            "value": "none"
          }
        ],
        "default": "inside",
		"info": "[Please install Product Reviews app](http:\/\/apps.shopify.com\/product-reviews)"
      },
      {
        "type": "header",
        "content": "Related Product"
      },
      {
        "type": "checkbox",
        "id": "enable_related_product",
        "label": "Enable Related Product",
		"default": true
      },
      {
        "type": "text",
        "id": "heading_related_product",
        "label": "Title",
		"default": "#related items"
      },
      {
        "type": "select",
        "id": "related_product_data",
        "label": "How to select related products",
        "options": [
          {
            "label": "Same Collection",
            "value": "collection"
          },
          {
            "label": "Same Vendor",
            "value": "vendors"
          }
        ],
        "default": "collection"
      }
    ],
    "blocks": [
      {
        "type": "description",
        "name": "Description",
        "settings": [
          {
            "type": "checkbox",
            "id": "multi-tab",
            "label": "Use Multi-tabs with heading 5 tag",
			"default": true,
            "info": "We use heading 5 in product's description to create Multi-tabs, each heading 5 is a new tab. Just uncheck to disable this function."
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "type": "text",
            "id": "page_title",
            "label": "Title"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Select a Page"
          }
        ]
      }
    ]
  }
{% endschema %}