{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _bg_style = section.settings.bg_style -%}
{%- assign _bg_color = section.settings.bg_color -%}
{%- assign _bg_image = section.settings.bg_image -%}

<div id="newsletter-{{ section.id }}" class="newsletter-section{% if _hide_mobile %} d-none d-md-block{% endif %}" {% if _bg_style == 'image' %}style="background-image: url({{ _bg_image | img_url: '1920x' }});" {% else %}style="background: {{ _bg_color }};"{% endif %}>
  <div class="newsletter-section-content layout-{{ _layout }}">
    <div class="container">

      {%- assign _title = section.settings.title -%}
      {%- assign _subtitle = section.settings.subtitle -%}
      {%- assign _action = section.settings.action -%}
      {%- assign _placeholder = section.settings.placeholder -%}
      {%- assign _btn = section.settings.btn -%}

      {% if _layout == '1' %}
        {% unless _title == blank %}
          <div class="title-wrapper">
            <h3>{{ _title }}</h3>
            {% unless _subtitle == blank %}<span>{{ _subtitle }}</span>{% endunless %}
          </div>
        {% endunless %} 

        <form id="mc-form-{{ section.id }}" class="mc-form" action="{{ _action }}" method="post" name="mc-embedded-subscribe-form-{{ section.id }}" target="_blank">
          <input class="input-block-level" type="email" name="EMAIL" placeholder="{{ _placeholder }}" required />
          <button class="btn btn-4" type="submit">{{ _btn }}</button>
        </form>

      {% else %}

        <div class="row">
          <div class="col-lg-6 col-sm-12">
            {% unless _title == blank %}
              <div class="title-wrapper">
                <h3>{{ _title }}</h3>
              </div>
            {% endunless %} 
          </div>

          <div class="col-lg-6 col-sm-12">
            <div class="wrap-form">
              {% unless _subtitle == blank %}<span>{{ _subtitle }}</span>{% endunless %}
              <form id="mc-form-{{ section.id }}" class="mc-form" action="{{ _action }}" method="post" name="mc-embedded-subscribe-form-{{ section.id }}" target="_blank">
                <input class="input-block-level" type="email" name="EMAIL" placeholder="{{ _placeholder }}" required />
                <button class="btn btn-4" type="submit">{{ _btn }}</button>
              </form>
            </div>
          </div>
        </div>

      {% endif %}

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "settings": [
	{
      "type": "paragraph",
      "content": "Created by 'Newsletter' section"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Layout 01"
        },
          {
          "value": "2",
          "label": "Layout 02"
        }
      ]
    },
	{
      "type": "select",
      "id": "bg_style",
      "label": "Background Style",
      "default": "color",
      "options": [
        {
          "value": "color",
          "label": "Background color"
        },
          {
          "value": "image",
          "label": "Background image"
        }
      ]
    },
	{
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
	{
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image"
    },
	{
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "#newsletter"
    },
	{
      "type": "textarea",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Subscribe our newsletter and get discount 50% off"
    },
	{
      "type": "textarea",
      "id": "action",
      "label": "Mailing Form Action",
      "info": "[Where do I get my MailChimp Form Action](http:\/\/shopify.barrelny.com\/where-do-i-find-the-mailchimp-signup-url)"
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "Placeholder",
      "default": "Email Address"
    },
	{
      "type": "text",
      "id": "btn",
      "label": "Button text",
      "default": "Subscribe"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Information"
    }
  ]
}
{% endschema %}