{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _style = section.settings.style -%}
{%- assign _bg_image = section.settings.bg_image -%}

<div class="home-offer-banner{% if _hide_mobile %} d-none d-md-block{% endif %} layout-{{_layout }}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}
  
    <div class="special-offer style-{{ _style }}" style="{% unless _bg_image == blank %}background-image:url({{ _bg_image | img_url: '1920x' }});{% else %}background-color:{{ section.settings.bg_color }};{% endunless %}">

      {%- assign _text_1 = section.settings.text_1 -%}
      {%- assign _text_2 = section.settings.text_2 -%}
      {%- assign _text_3 = section.settings.text_3 -%}
      {%- assign _expire = section.settings.expire -%}
      {%- assign _dueDate = _expire | split: '/' -%}

      <div class="wrap-offer{% if _layout == 'full' %} container{% endif %}">

        {% if _style == '1' %}
          <div class="offer-text" style="background-color:{{ section.settings.bg_color }};">
            <div class="wrapper-countdown">
              <div class="text">
                <h4>{% unless _text_1 == blank %}{{ _text_1 }}{% endunless %}<span class="text-2">{% unless _text_2 == blank %}{{ _text_2 }}{% endunless %}</span></h4>

                {% unless _text_3 == blank %}<span class="text-3">{{ _text_3 }}</span>{% endunless %}
              </div>
              <div class="countdown_{{ section.id }}"></div>
            </div> 
          </div>
        
        {% else %}
        
          <div class="row">
            <div class="offer-text col-lg-6 col-md-12" style="background-color:{{ section.settings.bg_color }};">   
              <div class="wrapper-countdown">
                <div class="text">
                  <h4>{% unless _text_1 == blank %}{{ _text_1 }}{% endunless %}<span class="text-2">{% unless _text_2 == blank %}{{ _text_2 }}{% endunless %}</span></h4>
                  {% unless _text_3 == blank %}<span class="text-3">{{ _text_3 }}</span>{% endunless %}
                </div>
                <div class="countdown_{{ section.id }}"></div>
              </div>
            </div>  

            <div class="offer-image col-lg-6 d-lg-block">
              <img src="{{ section.settings.image | img_url: section.settings.image_size }}" alt="Banner" />
            </div>
          </div>
        
        {% endif %}
        
        <script type="text/javascript">
            jQuery(document).ready(function($){
              var currentDate = new Date();
              var dueDate = new Date( {{ _dueDate[2] }}, {{ _dueDate[0] | plus:0 }} - 1, {{ _dueDate[1] | plus:0 }} );

              if(currentDate < dueDate){
                 $('.countdown_{{ section.id }}').countdown({until: dueDate, format: 'DHMS'});
              }

              else{
                 $('.countdown_{{ section.id }}').parent().hide();
              }
            });
        </script>
        
      </div>
    
    </div>
    
  {% if _layout == 'boxed' %}</div>{% endif %}
</div>

{% schema %}
{
  "name": "Offer Banner",
  "settings": [
	{
      "type": "paragraph",
      "content": "Created by 'Image Gallery' section"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "full",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
	{
      "type": "select",
      "id": "style",
      "label": "Style",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Use background image"
        },
        {
          "value": "2",
          "label": "Use background image, image and background color"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image",
      "info": "Default size is 1920x540 pixels"
    },
	{
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
	{
      "type": "text",
      "id": "image_size",
      "label": "Image size",
      "default": "500x",
      "info": "Default size is 500x550 pixels"
    },
    {
      "type": "header",
      "content": "Text box"
    },
	{
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#e9f7f7"
    },
    {
      "type": "text",
      "id": "text_1",
      "label": "Text 01",
      "default": "UP TO"
    },
	{
      "type": "text",
      "id": "text_2",
      "label": "Text 02",
      "default": "70% OFF"
    },
    {
      "type": "text",
      "id": "text_3",
      "label": "Text 03",
      "default": "Offer ends in"
    },
    {
      "type": "text",
      "id": "expire",
      "label": "Expire offer",
      "default": "08/25/2018",
      "info": "(mm/dd/yyyy)"
    }
  ],
  "presets": [
    {
      "name": "Offer Banner",
      "category": "Banner"
    }
  ]
}
{% endschema %}