{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _lazyload = section.settings.lazyload -%}
{%- assign _type = section.settings.type -%}
{%- assign _padding = section.settings.padding_style -%}
{%- assign text_align = section.settings.text_align -%}
{%- assign _title = section.settings.title -%}
{%- assign _limit = section.settings.limited -%}
{%- assign _item_per_row = section.settings.item_per_row -%}
{%- assign collection = collections[section.settings.collection] -%}

<div id="ps-{{ section.id }}" class="product-slider-section{% if _hide_mobile %} d-none d-md-block{% endif %} layout-{{_layout }}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}

    {% if _padding == 'no' %}
      {%- assign _padding_carousel = '0' -%}
    {% else %}
      {%- assign _padding_carousel = '30' -%}
    {% endif %}

    {% case _item_per_row %}
      {% when '3' %}
      {%- assign _item_class = "col-xl-4 col-lg-4 col-md-6 col-sm-6" -%}
    {% else %}
      {%- assign _item_class = "col-xl-3 col-lg-3 col-md-4 col-sm-6" -%}
    {% endcase %}


    {% capture emptyProduct %}
      {% for i in (1.._item_per_row)  %}
        <div class="{{ _item_class }} col-6">
          <div class="product-wrapper">

            <div class="product-head">
              <div class="product-image">

                <div class="featured-img">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>

              </div>
            </div> 

            <div class="product-content text-{{ text_align }}">
              <div class="pc-inner">
                <h5 class="product-name">{{ 'homepage.onboarding.product_title' | t }}</h5>
                <div class="product-price"><span class="price">{{ 1999 | money }}</span></div>
              </div>
            </div>

          </div>
        </div>
      {% endfor %}
    {% endcapture %}

    {% unless _title == blank %}
      <div class="title-wrapper"><h3>{{ _title }}</h3></div>
    {% endunless %}

    {% unless section.settings.collection == blank or collection.products_count == 0 %}

      <div class="product-slider-content{% if _padding == 'no' %} no-padding{% endif %} {% if _type == 'carousel' %}no-margin{% endif %}">
        <div class="{% if _type == 'row' %}row{% else %}ps-list ps-list-{{ section.id }}{% endif %}">

          {% for product in collection.products limit: _limit %}
          {% if _type == 'row' %}<div class="{{ _item_class }} col-6">{% endif %}
            {% include 'product-item' %}
          {% if _type == 'row' %}</div>{% endif %}
          {% endfor %}

        </div>
      </div>

      {% if _type == 'carousel' %}
        <script>
          jQuery(document).ready(function($) {

            jQuery(".ps-list-{{ section.id }}").length && jQuery('.ps-list-{{ section.id }}').owlCarousel({
                   nav		: true
                   ,dots 	: false
                   ,margin	: {{ _padding_carousel }}
                   ,responsive : {
                     0:{
                       items: 1
                     }
                     ,320:{
                       items: 1
                     }
                     ,480:{
                       items: 2
                     }
                     ,768:{
                       items: 3
                     }
                     ,992:{
                       items: {{ _item_per_row }}
                     }
                   }
                   ,navText	: ['<span class="button-prev"></span>', '<span class="button-next"></span>']
            });

          });
        </script>
      {% endif %}

    {% else %}

      <div class="product-slider-content">
        <div class="row">
          {{ emptyProduct }}
        </div>
      </div>

    {% endunless %}

  {% if _layout == 'boxed' %}</div>{% endif %}
</div>

{% schema %}
{
  "name": "Products Grid",
  "settings": [
	{
      "type": "paragraph",
      "content": "Created by 'Products Grid' section"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "full",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
	{
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    },
	{
      "type": "select",
      "id": "type",
      "label": "Type",
      "default": "row",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "row"
    },
	{
      "type": "select",
      "id": "padding_style",
      "label": "Padding",
      "default": "yes",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ]
    },
	{
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "#newarrivals"
    },
	{
      "type": "select",
      "id": "text_align",
      "label": "Text align for product title",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
		{ "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "item_per_row",
      "label": "Number of items per row",
      "options": [
        { "value": "3", "label": "3 items" },
        { "value": "4", "label": "4 items" }
      ],
      "default": "4"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection item"
    },
    {
      "type": "text",
      "id": "limited",
      "label": "Limited items",
      "default": "8"
    }
  ],
  "presets": [
    {
      "name": "Products Grid",
      "category": "Collection"
    }
  ]
}
{% endschema %}