{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _full_height = section.settings.full_height -%}
{%- assign _lazyload = section.settings.lazyload -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _follow_us = section.settings.follow_us -%}

{% capture emptyImage %}
  <div class="image">
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
{% endcapture %}

<div class="slideshow-catalog-wrapper">
  <div class="bc-wrapper{% if _full_height %} full-height{% endif %}{% if _layout == 'boxed' %} boxed{% endif %}{% if _hide_mobile %} d-none d-md-block{% endif %}" style="background-color: {{ section.settings.background }};">
      
    {% if section.blocks.size > 0 %}
      <div class="home-slideshow-wrapper swiper-container" data-autoplay="{{ section.settings.autoplay }}" data-time="{{ section.settings.autoplay_speed }}" data-animation="{{ section.settings.animation }}">
        <div class="home-slideshow swiper-wrapper">

          {% for block in section.blocks %}
            {%- assign image = block.settings.image -%}
            {%- assign video = block.settings.video -%}
            {%- assign link = block.settings.link -%}
            {%- assign textAlign = block.settings.alignment -%}
            {%- assign position = block.settings.position -%}
            {%- assign headingText = block.settings.heading -%}
            {%- assign headingAnimation = block.settings.heading_animation -%}
            {%- assign headingAnimationDelay = block.settings.heading_animation_delay -%}
            {%- assign headingColor = block.settings.heading_color -%}
            {%- assign headingSize = block.settings.heading_size -%}
            {%- assign subheadingText = block.settings.subheading -%}
            {%- assign subheadingAnimation = block.settings.subheading_animation -%}
            {%- assign subheadingAnimationDelay = block.settings.subheading_animation_delay -%}
            {%- assign subheadingColor = block.settings.subheading_color -%}
            {%- assign subheadingSize = block.settings.subheading_size -%}
            {%- assign captionText = block.settings.caption -%}
            {%- assign captionAnimation = block.settings.caption_animation -%}
            {%- assign captionAnimationDelay = block.settings.caption_animation_delay -%}
            {%- assign captionColor = block.settings.caption_color -%}
            {%- assign captionSize = block.settings.caption_size -%}
            {%- assign buttonText = block.settings.button_text -%}
            {%- assign buttonColor = block.settings.button_color -%}
            {%- assign buttonAnimation = block.settings.button_animation -%}
            {%- assign buttonAnimationDelay = block.settings.button_animation_delay -%}

            {% unless image == blank  %}
              <div class="swiper-slide{% unless video == blank %} has-video{% endunless %} swiper-slide-{{ block.id }}{% if _lazyload %} lazyload{% endif %}" style="background-image:url({{ block.settings.image | img_url: '1920x' }}); width: auto;">
                <a href="{{ link }}"><img src = "{{ block.settings.image | img_url: '1920x' }}" alt="" /></a>

                {% unless _follow_us == 'none' %}
                  <div class="box-social position-{{ _follow_us }}">
                    <span>{{ 'general.404.follow_us' | t }}</span>
                    {% include 'social-media-icons'%}
                  </div>
                {% endunless %}

                <div class="swiper-content {{ textAlign }} slide-{{ forloop.index }} container{% unless _follow_us == 'none' %} have-social{% endunless %}" style="bottom: {{ position }};">
                  <div class="container-box">

                        {% unless headingText == blank %}<div class="heading">{{ headingText }}</div>{% endunless %}

                        {% unless subheadingText == blank %}<div class="subheading">{{ subheadingText }}</div>{% endunless %}

                        {% unless captionText == blank %}<div class="cation">{{ captionText }}</div>{% endunless %}

                        {% unless buttonText == blank %}
                          <div class="caption-link">
                            <a class="slider-button" href="{{ link }}">{{ buttonText }}</a>                
                          </div>
                        {% endunless %}

                        <style type="text/css">
                          .swiper-slide-{{ block.id }}.swiper-slide-active .heading{
                            color: {{ headingColor }}; font-size: {{ headingSize }}; -webkit-animation-name: {{headingAnimation }}; animation-name: {{ headingAnimation }}; -webkit-animation-delay: {{ headingAnimationDelay }}; animation-delay: {{ headingAnimationDelay }};
                          }
                          .swiper-slide-{{ block.id }}.swiper-slide-active .subheading{
                            color: {{ subheadingColor }}; font-size: {{ subheadingSize }}; -webkit-animation-name: {{ subheadingAnimation }}; animation-name: {{ subheadingAnimation }}; -webkit-animation-delay: {{ subheadingAnimationDelay }}; animation-delay: {{ subheadingAnimationDelay }};
                          }
                          .swiper-slide-{{ block.id }}.swiper-slide-active .cation{
                            color: {{ captionColor }}; font-size: {{ captionSize }}; -webkit-animation-name: {{ captionAnimation }}; animation-name: {{ captionAnimation }}; -webkit-animation-delay: {{ captionAnimationDelay }}; animation-delay: {{ captionAnimationDelay }};
                          }
                          .swiper-slide-{{ block.id }}.swiper-slide-active .caption-link{
                            -webkit-animation-name: {{ buttonAnimation }}; animation-name: {{ buttonAnimation }}; -webkit-animation-delay: {{ buttonAnimationDelay }}; animation-delay: {{ buttonAnimationDelay }};
                          }
                          .swiper-slide-{{ block.id }}.swiper-slide-active .caption-link .slider-button {
                            color: {{ buttonColor }};                       
                          }
                          @media (max-width: 1199px) and (min-width: 992px){
                            .swiper-slide-{{ block.id }}.swiper-slide-active .heading{
                              font-size: 200%;
                            }
                            .swiper-slide-{{ block.id }}.swiper-slide-active .subheading{
                              font-size: 380%; 
                            }
                            .swiper-slide-{{ block.id }}.swiper-slide-active .subheading span {
                              font-size: 45% !important; 
                            }
                            .swiper-slide-{{ block.id }}.swiper-slide-active .cation{
                              font-size: 180%;
                            }
                          }
                          @media (max-width: 991px) and (min-width: 768px){ 
                            .swiper-slide-{{ block.id }}.swiper-slide-active .heading{
                              font-size: 150%;
                            }
                            .swiper-slide-{{ block.id }}.swiper-slide-active .subheading{
                              font-size: 280%; 
                            }
                            .swiper-slide-{{ block.id }}.swiper-slide-active .subheading span {
                              font-size: 40% !important; 
                            }
                            .swiper-slide-{{ block.id }}.swiper-slide-active .cation{
                              font-size: 140%;
                            }
                          }
                          @media (max-width: 479px) {
                            .full-height .home-slideshow .swiper-slide-active .swiper-content {
                              bottom: {{ position }} !important;
                            }
                          }
                        </style>

                    </div>
                  </div>

                  {% unless video == blank %}
                    <div class="video-slide" style="display: none;">
                      <video controls class="video" autoplay="" loop="" muted="" preload="auto" data-width="0" data-height="0">
                        <source src="{{ video }}" type="video/mp4">
                      </video>
                    </div>
                  {% endunless %}

              </div>

            {% else %}

              <div class="swiper-slide">
                <a href="{{ link }}">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</a>
              </div>

            {% endunless %}

          {% endfor %}

        </div>

      </div>

      <div class="btn-pagination">
        {% if section.settings.paging %}
          <div class="swiper-pagination swiper-pagination-white"></div>
        {% endif %}

        {% if section.settings.navigator %}
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
        {% endif %}
      </div>

      <script>
        jQuery(document).ready(function($) {
          if ( bcMsieVersion.MsieVersion() == 0 ){ AT_Main.homeSlideshow(); }
          else{ AT_Main.homeIE();}
        });
      </script>
    
    {% else %}
    
    <div class="home-slideshow-wrapper swiper-container">
      <div class="home-slideshow swiper-wrapper">
        
        <div class="swiper-slide">
          <div class="box-social position-{{ _follow_us }}">
            <span>{{ 'general.404.follow_us' | t }}</span>
            {% include 'social-media-icons'%}
          </div>
          <a href="{{ link }}">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</a>
        </div>
        
      </div>
    </div>
    
    {% endif %}

  </div>
</div>

{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 6,
  "settings": [
    {
      "type": "paragraph",
      "content": "Created by 'Slideshow' section. Please try to keep your slideshow images the same size."
    },
	{
      "type": "checkbox",
      "id": "full_height",
      "label": "Full height",
      "default": true
    },
	{
      "type": "color",
      "id": "background",
      "label": "Background color",
      "default": "#fff"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    },
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "boxed",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto-play slides",
      "default": true
    },
    {
      "type": "select",
      "id": "autoplay_speed",
      "label": "Auto-play delay time",
      "options": [
        { "value": "5000", "label": "5 seconds" },
        { "value": "6000", "label": "6 seconds" },
        { "value": "7000", "label": "7 seconds" },
        { "value": "8000", "label": "8 seconds" },
        { "value": "9000", "label": "9 seconds" },
        { "value": "10000", "label": "10 seconds" }
      ],
      "default": "6000"
    },
	{
      "type": "checkbox",
      "id": "navigator",
      "label": "Navigator",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "paging",
      "label": "Bullet",
      "default": false
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "slide",
      "options": [
        {
          "label": "Fade",
          "value": "fade"
        },
        {
          "label": "Slide",
          "value": "slide"
        },
		{
          "label": "Cube",
          "value": "Cube"
        },
		{
          "label": "Coverflow",
          "value": "coverflow"
        }
      ]
    },
	{
      "type": "select",
      "id": "follow_us",
      "label": "Follow us position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
		{
          "value": "none",
          "label": "None"
        }
      ],
      "info": "Use settings in Extensions > Social icon 01, Social icon 02, Social icon 03, Social icon 04"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "textarea",
          "id": "video",
          "label": "The url of video",
          "info": "Go to Settings > Files > click 'Upload files' to upload your video, then copy the url and paste to here"
        },
		{
          "type": "text",
          "id": "link",
          "label": "Slide link",
          "default": "/collections"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Text alignment",
          "default": "text-center",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-center",
              "label": "Middle"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ]
        },
		{
          "type": "text",
          "id": "position",
          "label": "Layer Position Bottom",
          "info": "used percent (eg: 10%)",
          "default": "20%"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Layer #1 text"
        },
		{
          "type": "color",
          "id": "heading_color",
          "label": "Layer #1 text color",
          "default": "#ffffff"
        },
		{
          "type": "text",
          "id": "heading_size",
          "label": "Layer #1 text size",
          "default": "48px",
          "info": "Use px (eg: 30px)"
        },
		{
          "type": "select",
          "id": "heading_animation",
          "label": "Layer #1 animation",
          "default": "fadeIn",
          "options": [
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "moveFromLeft",
              "label": "Move From Left"
            },
            {
              "value": "moveFromRight",
              "label": "Move From Right"
            },
            {
              "value": "moveFromTop",
              "label": "Move From Top"
            },
            {
              "value": "moveFromBottom",
              "label": "Move From Bottom"
            }
          ]
        },
		{
          "type": "select",
          "id": "heading_animation_delay",
          "label": "Layer #1 animation delay",
          "default": "1s",
          "options": [
            {
              "value": "1s",
              "label": "1 Second"
            },
            {
              "value": "2s",
              "label": "2 seconds"
            },
            {
              "value": "3s",
              "label": "3 seconds"
            },
            {
              "value": "4s",
              "label": "4 seconds"
            }
          ]
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Layer #2 text"
        },
		{
          "type": "color",
          "id": "subheading_color",
          "label": "Layer #2 text color",
          "default": "#ffffff"
        },
		{
          "type": "text",
          "id": "subheading_size",
          "label": "Layer #2 text size",
          "default": "48px",
          "info": "Use px (eg: 30px)"
        },
		{
          "type": "select",
          "id": "subheading_animation",
          "label": "Layer #2 animation",
          "default": "fadeIn",
          "options": [
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "moveFromLeft",
              "label": "Move From Left"
            },
            {
              "value": "moveFromRight",
              "label": "Move From Right"
            },
            {
              "value": "moveFromTop",
              "label": "Move From Top"
            },
            {
              "value": "moveFromBottom",
              "label": "Move From Bottom"
            }
          ]
        },
		{
          "type": "select",
          "id": "subheading_animation_delay",
          "label": "Layer #2 animation delay",
          "default": "1s",
          "options": [
            {
              "value": "1s",
              "label": "1 Second"
            },
            {
              "value": "2s",
              "label": "2 seconds"
            },
            {
              "value": "3s",
              "label": "3 seconds"
            },
            {
              "value": "4s",
              "label": "4 seconds"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "caption",
          "label": "Layer #3 text"
        },
		{
          "type": "color",
          "id": "caption_color",
          "label": "Layer #3 text color",
          "default": "#ffffff"
        },
		{
          "type": "text",
          "id": "caption_size",
          "label": "Layer #3 text size",
          "default": "48px",
          "info": "Use px (eg: 30px)"
        },
		{
          "type": "select",
          "id": "caption_animation",
          "label": "Layer #3 animation",
          "default": "fadeIn",
          "options": [
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "moveFromLeft",
              "label": "Move From Left"
            },
            {
              "value": "moveFromRight",
              "label": "Move From Right"
            },
            {
              "value": "moveFromTop",
              "label": "Move From Top"
            },
            {
              "value": "moveFromBottom",
              "label": "Move From Bottom"
            }
          ]
        },
		{
          "type": "select",
          "id": "caption_animation_delay",
          "label": "Layer #3 animation delay",
          "default": "1s",
          "options": [
            {
              "value": "1s",
              "label": "1 Second"
            },
            {
              "value": "2s",
              "label": "2 seconds"
            },
            {
              "value": "3s",
              "label": "3 seconds"
            },
            {
              "value": "4s",
              "label": "4 seconds"
            }
          ]
        },
		{
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
		{
          "type": "color",
          "id": "button_color",
          "label": "Button text color",
          "default": "#ffffff"
        },
		{
          "type": "select",
          "id": "button_animation",
          "label": "Button animation",
          "default": "fadeIn",
          "options": [
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "moveFromLeft",
              "label": "Move From Left"
            },
            {
              "value": "moveFromRight",
              "label": "Move From Right"
            },
            {
              "value": "moveFromTop",
              "label": "Move From Top"
            },
            {
              "value": "moveFromBottom",
              "label": "Move From Bottom"
            }
          ]
        },
		{
          "type": "select",
          "id": "button_animation_delay",
          "label": "Button animation delay",
          "default": "1s",
          "options": [
            {
              "value": "1s",
              "label": "1 Second"
            },
            {
              "value": "2s",
              "label": "2 seconds"
            },
            {
              "value": "3s",
              "label": "3 seconds"
            },
            {
              "value": "4s",
              "label": "4 seconds"
            }
          ]
        }
      ]
    }
    
  ],
  "presets": [{
    "name": "Slideshow",
    "category": "Slideshow",
    "settings": {
      "autoplay": true,
      "autoplay_speed": "5000"
    },
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}
