{% if section.blocks.size > 0 %}
  {%- assign _lazyload = section.settings.lazyload -%}
  {%- assign _width = section.settings.width -%}
  {%- assign number = section.settings.number -%}

  <div id="categories-{{ section.id }}" class="categories-section{% if _width == 'boxed' %} container{% endif %}" style="background: {{ section.settings.background}}">
    
    <div class="categories-section-content {% if _width == 'full' %} container{% endif %}">
      <div class="categories-list categories-list-{{ section.id }}">
          {% for block in section.blocks %}

          	{%- assign image_size = block.settings.image_size -%}
            {%- assign col = block.settings.collection -%}
            {%- assign collection = collections[col] -%}
            {%- assign count = collection.products_count | plus: 0 -%}
            {% unless collection == blank or count < 1 %}

              <div class="c-item{% if _lazyload %} lazyload waiting{% endif %}">
                <a href="{{ collection.url }}" style="color: {{ section.settings.color }};">
                  <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ block.settings.image | img_url: image_size }}" alt="{{ collection.title | escape }}" />
                  <span>{{ collection.title }}</span>                  
                </a>                
              </div>

            {% endunless %}

          {% endfor %}
      </div>
      <style type="text/css">
        .categories-section-content .owl-theme .owl-controls .owl-nav>div span:before {
          color: {{ section.settings.color }};
        }
        .c-item:after {
          background: {{ section.settings.color }};
        }
        /*.c-item > a:after {
        background: {{ section.settings.background}};
        }*/
        .c-item > a:hover span {
          color: {{ section.settings.color_hover }};
          text-shadow: 0 0 0.65px {{ section.settings.color_hover }}, 0 0 0.65px {{ section.settings.color_hover }};
          -webkit-text-shadow: 0 0 0.65px {{ section.settings.color_hover }}, 0 0 0.65px {{ section.settings.color_hover }};
          -moz-text-shadow: 0 0 0.65px {{ section.settings.color_hover }}, 0 0 0.65px {{ section.settings.color_hover }};
        }    
      </style>
    </div>
      
    <script>
        jQuery(document).ready(function($) {

          jQuery(".categories-list-{{ section.id }}").length && jQuery('.categories-list-{{ section.id }}').owlCarousel({
            nav			: true
            ,dots 		: false
            ,items		: {{ number }}
            ,margin		: 30
            ,responsive : {
              0:{
                items: 1
              }
              ,480:{
                items: 2
              }
              ,560:{
                items: 3
              }
              ,768:{
                items: 4
              }
              ,992:{
                items: 5
              }
              ,1170:{
                items: {{ number }}
              }                                                                 
            }
            ,navText	: ['<span class="button-prev"></span>', '<span class="button-next"></span>']
          });

        });
    </script>

  </div>

{% endif %}

{% schema %}
{
  "name": "Categories",
  "max_blocks": 8,
  "settings": [
	{
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    },
	{
      "type": "select",
      "id": "width",
      "label": "Layout",
      "default": "boxed",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
	{
      "type": "color",
      "id": "background",
      "label": "Background color",
      "default": "#c00a27"
    },
	{
      "type": "color",
      "id": "color",
      "label": "Text color",
      "default": "#ffffff"
    },
	{
      "type": "color",
      "id": "color_hover",
      "label": "Text hover color",
      "default": "#ffffff"
    },
	{
      "type": "select",
      "id": "number",
      "label": "Number of items per row",
      "default": "6",
      "options": [
        {
          "value": "4",
          "label": "4 items"
        },
        {
          "value": "5",
          "label": "5 items"
        },
        {
          "value": "6",
          "label": "6 items"
        },
		{
          "value": "7",
          "label": "7 items"
        },
		{
          "value": "8",
          "label": "8 items"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Categories",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection item"
        },
		{
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
		{
          "type": "text",
          "id": "image_size",
          "label": "Image size",
          "default": "35x32",
          "info": "It is only number, not px. For exam: 35x32"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection List",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
		{
          "type": "collection"
        },
		{
          "type": "collection"
        },
		{
          "type": "collection"
        },
		{
          "type": "collection"
        },
		{
          "type": "collection"
        },
		{
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
