{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _title = section.settings.title -%}
{%- assign _caption = section.settings.caption -%}
{%- assign _item_per_row = section.settings.item_per_row -%}

<div class="partner-wrapper layout-{{_layout }}{% if _hide_mobile %} d-none d-md-block{% endif %}{% unless _caption == blank %} have-caption{% endunless %}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}

  {% unless _title == blank %}
    <div class="title-wrapper"><h3>{{ _title }}</h3></div>
  {% endunless %}

  {% if section.blocks.size > 0 %}

    {% unless _caption == blank %}
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <div class="caption">
            <h3>{{ _caption }}</h3>
          </div>
        </div>

        <div class="col-lg-7 col-md-12">
    {% endunless %}

          <div class="widget-partner widget-partner-{{ section.id }}">

            {% for block in section.blocks %}
              {% unless _caption == blank %}
                {% capture _mod %}{{ forloop.index | modulo: 2 }}{% endcapture %}
                {% if _mod == '1' %}<div class="wrap-partner-item">{% endif %}
              {% endunless %}
            
                  <div class="partner-item">
                    {% unless block.settings.image == blank %}
                      <a href="{{ block.settings.link }}"{% if _lazyload %} class="lazyload waiting"{% endif %}>
                        <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ block.settings.image | img_url: '230x' }}" alt="Partner" />
                      </a>

                    {% else %}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}

                    {% endunless %}
                  </div>

              {% unless _caption == blank %}
                {% if _mod == '0' or forloop.last %}</div>{% endif %}
              {% endunless %}

            {% endfor %}

          </div>

    {% unless _caption == blank %}</div></div>{% endunless %}

  {% else %}
      <div class="widget-partner widget-partner-{{ section.id }}">
        {% for i in (1.._item_per_row) %}
          <div class="partner-item">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% endfor %}
      </div>

  {% endif %}

  {% if _layout == 'boxed' %}</div>{% endif %}
</div>

  <script>
    jQuery(document).ready(function($) {

        setTimeout(function(){
          jQuery(".widget-partner-{{ section.id }}").length && jQuery('.widget-partner-{{ section.id }}').owlCarousel({
            nav			: {% unless _caption == blank %}true{% else %}false{% endunless %}
            ,dots 		: {% unless _caption == blank %}false{% else %}true{% endunless %}
            ,margin		: 30
            ,responsive : {
                0:{
                  items: 1
                }
                ,480:{
                  items: 2
                }
                ,768:{
                  items: 3
                }
                ,991:{
                  items: 3
                }
                {% if _caption == blank %}
                  ,1024:{
                    items: 4
                  }
                  ,1200:{
                    items: {{ _item_per_row }}
                  }
                {% endif %}
              }
            ,navText	: ['<span class="button-prev"></span>', '<span class="button-next"></span>']
          });
        }, 1200);

    });
  </script>

{% schema %}
{
  "name": "Logo List",
  "max_blocks": 12,
  "settings": [
	{
      "type": "paragraph",
      "content": "Created by 'Logo List' section"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    },
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "boxed",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
	{
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "#brand"
    },
	{
      "type": "textarea",
      "id": "caption",
      "label": "Caption"
    },
	{
      "type": "range",
      "id": "item_per_row",
      "label": "Number of items per row",
      "min": 5,
      "max": 8,
      "step": 1,
      "default": 5,
      "info": "Only use when Caption is empty"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "The default width is 230 pixels"
        },
		{
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
    
  ],
  "presets": [
    {
      "name": "Logo List",
      "category": "Banner",
      "blocks": [
        { "type": "image" },
        { "type": "image" },
		{ "type": "image" },
		{ "type": "image" },
		{ "type": "image" },
		{ "type": "image" },
		{ "type": "image" },
		{ "type": "image" },
		{ "type": "image" },
		{ "type": "image" }
      ]
    }
  ]
}
{% endschema %}
