{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _lazyload = section.settings.lazyload -%}
{%- assign _style = section.settings.style -%}
{%- assign _title = section.settings.title -%}
{%- assign _message_color = section.settings.message_color -%}
{%- assign _name_color = section.settings.name_color -%}
{%- assign _name_size = section.settings.name_size -%}
{%- assign _customer_color = section.settings.customer_color -%}
{%- assign _customer_size = section.settings.customer_size -%}
{%- assign _rating_color = section.settings.rating_color -%}

<div class="home-customer layout-{{_layout }}{% if _hide_mobile %} d-none d-md-block{% endif %}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}

    {% unless _title == blank %}
    <div class="title-wrapper"><h3>{{ _title }}</h3></div>
    {% endunless %}

    <div class="home-customer-carousel style-{{ _style }}">

        {% if section.blocks.size > 0 %}

          {% if _style == '1' %}
            <div class="row">
                <div class="slider-nav col-md-5 col-sm-12">
                  {% for block in section.blocks %} 

                    {%- assign _image = block.settings.image -%}
                    {%- assign _name = block.settings.name -%}
                    {%- assign _customer = block.settings.customer -%}
                    {%- assign _rating = block.settings.rating -%}

                    <div class="slick-item">

                      {% unless _image == blank %}
                        <div class="image{% if _lazyload %} lazyload waiting{% endif %}">
                          <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ _image| img_url: '130x130' }}" alt="Customer" />
                        </div>
                      {% else %}
                        <div class="image">
                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                      {% endunless %}

                      <span class="rating" style="color: {{ _rating_color }};">
                        {% case _rating %}
                        {% when 1 %}
                        <span></span>
                        {% when 2 %}
                        <span></span><span></span>
                        {% when 3 %}
                        <span></span><span></span><span></span>
                        {% when '4' %}
                        <span></span><span></span><span></span><span></span>
                        {% else %}
                        <span></span><span></span><span></span><span></span><span></span>
                        {% endcase %}
                      </span>

                      {% unless _name == blank %}<span class="name {{ _name_size }}" style="color: {{ _name_color }};">{{ _name }}</span>{% endunless %}
                      {% unless _customer == blank %}<span class="customer {{ _customer_size }}" style="color: {{ _customer_color }};">{{ _customer }}</span>{% endunless %}

                    </div>

                  {% endfor %}
                </div>

                <div class="slider-for col-md-7 col-sm-12">
                  {% for block in section.blocks %}
                    {%- assign _message = block.settings.message -%}

                    <div class="slick-item">
                      {% unless _message == blank %}<span class="message" style="color: {{ _message_color }};"><i class="demo-icon icon-quote-left"></i>{{ _message }}</span>{% endunless %}
                    </div>

                  {% endfor %}
                </div>

            </div>
          {% else %}
      
            <div class="slider-nav">
              {% for block in section.blocks %} 

                {%- assign _image = block.settings.image -%}
                {%- assign _message = block.settings.message -%}
                {%- assign _name = block.settings.name -%}
                {%- assign _customer = block.settings.customer -%}
                {%- assign _rating = block.settings.rating -%}

                <div class="slick-item">

                  {% unless _message == blank %}<span class="message" style="color: {{ _message_color }};"><i class="demo-icon icon-quote-left"></i>{{ _message }}</span>{% endunless %}

                  {% unless _image == blank %}
                    <div class="image{% if _lazyload %} lazyload waiting{% endif %}">
                      <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ _image| img_url: '130x130' }}" alt="Customer" />
                    </div>
                  {% else %}
                    <div class="image">
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {% endunless %}

                  <span class="rating" style="color: {{ _rating_color }};">
                    {% case _rating %}
                    {% when 1 %}
                    <span></span>
                    {% when 2 %}
                    <span></span><span></span>
                    {% when 3 %}
                    <span></span><span></span><span></span>
                    {% when '4' %}
                    <span></span><span></span><span></span><span></span>
                    {% else %}
                    <span></span><span></span><span></span><span></span><span></span>
                    {% endcase %}
                  </span>

                  {% unless _name == blank %}<span class="name {{ _name_size }}" style="color: {{ _name_color }};">{{ _name }}</span>{% endunless %}
                  {% unless _customer == blank %}<span class="customer {{ _customer_size }}" style="color: {{ _customer_color }};">{{ _customer }}</span>{% endunless %}

                </div>

              {% endfor %}
            </div>

          {% endif %}

        {% else %}

          <div class="row">
            <div class="slider-nav col-md-5 col-sm-12">
              {% for i in (1..4) %}
                <div class="slick-item">
                  <div class="image">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>

                  <span class="rating" style="color: #fdd835;">
                    <span></span><span></span><span></span><span></span><span></span>
                  </span>

                  <span class="name h5" style="color: #222328;">{{ 'homepage.onboarding.customer_name' | t }}</span>

                  <span class="customer h6" style="color: #888888;">{{ 'homepage.onboarding.customer' | t }}</span>

                </div>
              {% endfor %}
            </div>

            <div class="slider-for col-md-7 col-sm-12">
              {% for i in (1..4) %}
                <div class="slick-item">
                  <span class="message" style="color: #888888;"><i class="demo-icon icon-quote-left"></i>{{ 'homepage.onboarding.customer_message' | t }}</span>
                </div>
              {% endfor %}
            </div>
          </div>

        {% endif %}

    </div>


  {% if _layout == 'boxed' %}</div>{% endif %}
</div>

<script type="text/javascript">
            
    jQuery(document).ready(function($) {
      
      {% if _style == '1' %}
        jQuery('.home-customer-carousel .slider-for').length && jQuery('.home-customer-carousel .slider-for').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true,
          fade: true,
          asNavFor: '.slider-nav'
        });

        jQuery('.home-customer-carousel .slider-nav').length && jQuery('.home-customer-carousel .slider-nav').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          asNavFor: '.slider-for',
          infinite: true,
          dots: false,
          arrows: false,
          focusOnSelect: true,
          centerMode: true
        });
      
      {% else %}
      
        jQuery('.home-customer-carousel .slider-nav').length && jQuery('.home-customer-carousel .slider-nav').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          infinite: true,
          dots: false,
          arrows: true,
          focusOnSelect: true,
          centerMode: true,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
              }
            },
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 2,
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
              }
            }
          ]
        });
      
      {% endif %}
      
    });
            
</script>
  
{% schema %}
{
  "name": "Customer",
  "max_blocks": 6,
  "settings": [
	{
      "type": "paragraph",
      "content": "Created by 'Customer' section"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "boxed",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
	{
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    },
	{
      "type": "select",
      "id": "style",
      "label": "Style",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "Style 01"
        },
        {
          "value": "2",
          "label": "Style 02"
        }
      ]
    },
	{
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "#testimonial"
    },
	{
      "type": "color",
      "id": "message_color",
      "label": "Message color",
      "default": "#888888"
    },
    {
      "type": "color",
      "id": "rating_color",
      "label": "Rating Color",
      "default": "#fdd835"
    },
    {
      "type": "color",
      "id": "name_color",
      "label": "Name color",
      "default": "#222328"
    },
    {
      "type": "select",
      "id": "name_size",
      "label": "Name size",
      "default": "h5",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ]
    },
    {
      "type": "color",
      "id": "customer_color",
      "label": "Customer color",
      "default": "#888888"
    },
    {
      "type": "select",
      "id": "customer_size",
      "label": "Customer size",
      "default": "h6",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Testimonial",
      "settings": [
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Image size is 130x130 pixels"
        },
		{
            "label": "Message",
            "id": "message",
            "type": "textarea",
			"default": "The idea that beautiful and functional everydayobjects should not only be affordable to the wealthy"
        },
		{
            "type": "select",
            "id": "rating",
            "label": "Rating",
            "default": "5",
            "options": [
              {
                "value": "1",
                "label": "1 star"
              },
              {
                "value": "2",
                "label": "2 stars"
              },
              {
                "value": "3",
                "label": "3 stars"
              },
              {
                "value": "4",
                "label": "4 stars"
              },
              {
                "value": "5",
                "label": "5 stars"
              }
            ]
        },
		{
            "label": "Name",
            "id": "name",
            "type": "text",
			"default": "Igor ten"
        },
        {
          "label": "Customer",
          "id": "customer",
          "type": "text",
          "default": "Customer"
        }
      ]
    }
    
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Advanced layout",
      "blocks": [
        { "type": "image" },
        { "type": "image" },
        { "type": "image" },
        { "type": "image" }
      ]
    }
  ]
}
{% endschema %}
