{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _lazyload = section.settings.lazyload -%}
{%- assign _type = section.settings.type -%}
{%- assign _padding = section.settings.padding_style -%}
{%- assign text_align = section.settings.text_align -%}
{%- assign _text_align_tab_title = section.settings.text_align_title -%}
{%- assign _title = section.settings.title -%}
{%- assign _limit = section.settings.limited -%}
{%- assign _item_per_row = section.settings.item_per_row -%}
{%- assign _number_active = section.settings.number_active | plus:0 -%}

{% capture emptyProduct01 %}
  {% for i in (1.._item_per_row)  %}
    <div class="product-wrapper">

      <div class="product-head">
        <div class="product-image">

          <div class="featured-img">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </div>

        </div>
      </div> 

      <div class="product-content text-{{ text_align }}">
        <div class="pc-inner">
          <h5 class="product-name">{{ 'homepage.onboarding.product_title' | t }}</h5>
          <div class="product-price"><span class="price">{{ 1999 | money }}</span></div>
        </div>
      </div>

    </div>
  {% endfor %}
{% endcapture %}

{% capture emptyProduct02 %}
  {% for i in (1..2)  %}
    <div class="col-lg-12 col-md-6 col-sm-6 col-6">
      <div class="product-wrapper">

        <div class="product-head">
          <div class="product-image">

            <div class="featured-img">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>

          </div>
        </div> 

        <div class="product-content text-{{ text_align }}">
          <div class="pc-inner">
            <h5 class="product-name">{{ 'homepage.onboarding.product_title' | t }}</h5>
            <div class="product-price"><span class="price">{{ 1999 | money }}</span></div>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
{% endcapture %}

{% capture emptyProduct03 %}
  {% for i in (1..4)  %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
      <div class="product-wrapper">

        <div class="product-head">
          <div class="product-image">

            <div class="featured-img">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>

          </div>
        </div> 

        <div class="product-content text-{{ text_align }}">
          <div class="pc-inner">
            <h5 class="product-name">{{ 'homepage.onboarding.product_title' | t }}</h5>
            <div class="product-price"><span class="price">{{ 1999 | money }}</span></div>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
{% endcapture %}

{% capture emptyProduct04 %}
  {% for i in (1..4)  %}
    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
      <div class="product-wrapper">

        <div class="product-head">
          <div class="product-image">

            <div class="featured-img">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>

          </div>
        </div> 

        <div class="product-content text-{{ text_align }}">
          <div class="pc-inner">
            <h5 class="product-name">{{ 'homepage.onboarding.product_title' | t }}</h5>
            <div class="product-price"><span class="price">{{ 1999 | money }}</span></div>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
{% endcapture %}

  <div role="tabpanel" id="hp-tabs-{{ section.id }}" class="hp-tabs-section layout-{{_layout }}{% if _hide_mobile %} d-none d-md-block{% endif %}{% if _type == 'row' %} heading-row-{{ _text_align_tab_title }}{% endif %}">
    {% if _layout == 'boxed' %}<div class="container">{% endif %}

      {% unless _title == blank %}<div class="title-wrapper"><h3>{{ _title }}</h3></div>{% endunless %}
    
      {% if _padding == 'no' %}
        {%- assign _padding_carousel = '0' -%}
      {% else %}
        {%- assign _padding_carousel = '30' -%}
      {% endif %}

      {% if section.blocks.size > 0 %}
    
        <!-- Begin nav tabs -->
    
        <div class="nav-tab-wrapper">
          <ul class="nav nav-tabs tab-heading align-{{ _text_align_tab_title }}" role="tablist">
            
            {% for block in section.blocks %}
              {%- assign title = block.settings.tab_title -%}
              {%- assign collection = collections[block.settings.collection] -%}

              <li class="tab-title nav-item">
                <a class="nav-link{% if _number_active == forloop.index %} active {% endif %}{% if _lazyload %} lazyload{% endif %}" href="#hp-tabs-{{ section.id }}-{{ forloop.index }}" aria-controls="hp-tabs-{{ section.id }}-{{ forloop.index }}" role="tab" data-toggle="tab">
                  {% unless block.settings.collection == blank or collection.products_count == 0 %}
                    {% unless title == blank %}{{ title }}{% else %}{{ collection.title }}{% endunless %}

                  {% else %}
                    {{ 'homepage.onboarding.tab_title' | t }}

                  {% endunless %}
                </a>
              </li>
            
            {% endfor %}
            
          </ul>
        </div>
    
        <!-- End nav tabs -->

        <!-- Begin tab content -->
    
        <div class="tab-content">
          {% for block in section.blocks %}

            <!-- Begin block type is Product -->
            {% if block.type == 'product' %}

              {%- assign collection = collections[block.settings.collection] -%}
              {%- assign _product = block.settings.product -%}

              {% if _product == blank %}

                <div role="tabpanel" class="{% if _number_active == forloop.index %}show active {% endif %}tab-pane no-big-product" id="hp-tabs-{{ section.id }}-{{ forloop.index }}">

                  {% unless block.settings.collection == blank or collection.products_count == 0 %}
                    <div class="hp-tabs-list tabs-list-{{ _type }}{% if _type == 'row' %} row-number-{{ _item_per_row }}{% endif %}{% if _padding == 'no' %} no-padding{% endif %}">

                      {% for product in collection.products limit: _limit %}
                        {% include 'product-item' %}
                      {% endfor %}

                    </div>

                  {% else %}
                    <div class="hp-tabs-list tabs-list-row row-number-4">   
                        {{ emptyProduct01 }}
                    </div>

                  {% endunless  %}

                </div>

              {% else %}

                <div role="tabpanel" class="{% if _number_active == forloop.index %}show active {% endif %}tab-pane" id="hp-tabs-{{ section.id }}-{{ forloop.index }}">
                  <div class="row hp-tabs-list tabs-list-row">

                    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                      <div class="wrap-grid-item">
                        <div class="row">
                          {% unless block.settings.collection == blank or collection.products_count == 0 %}
                            {% for product in collection.products limit: 2 %}
                              <div class="col-lg-12 col-md-6 col-sm-6 col-6">
                                {% include 'product-item' %}
                              </div>
                            {% endfor %}
                          {% else %}
                            {{ emptyProduct02 }}
                          {% endunless %}
                        </div>
                      </div>
                    </div>

                    {%- assign product = all_products[_product] -%}
                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                      <div class="big-grid-item">
                        {% include 'big-product-item' %}
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                      <div class="wrap-grid-item">
                        <div class="row">
                          {% unless block.settings.collection == blank or collection.products_count == 0 %}
                            {% for product in collection.products offset: 2 limit: 2 %}
                              <div class="col-lg-12 col-md-6 col-sm-6 col-6">
                                {% include 'product-item' %}
                              </div>
                            {% endfor %}
                          {% else %}
                            {{ emptyProduct02 }}
                          {% endunless %}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              {% endif %}

            <!-- End block type is Product -->

            {% else %}
            <!-- Begin block type is Offer image -->

              {%- assign collection = collections[block.settings.collection] -%}
              {%- assign _image = block.settings.image -%}

              {% unless _image == blank %}

                <div role="tabpanel" class="{% if _number_active == forloop.index %}show active {% endif %}tab-pane" id="hp-tabs-{{ section.id }}-{{ forloop.index }}">
                  <div class="row hp-tabs-list tabs-list-row">

                    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                      <div class="wrap-grid-item">
                        
                        <div class="row">
                          {% unless block.settings.collection == blank or collection.products_count == 0 %}
                            {% for product in collection.products limit: 2 %}
                              <div class="col-lg-12 col-md-6 col-sm-6 col-6">
                                {% include 'product-item' %}
                              </div>
                            {% endfor %}
                          
                          {% else %}
                            {{ emptyProduct02 }}
                          
                          {% endunless %}
                        </div>
                        
                      </div>
                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12 col-12 remove-padding">
                      {% include 'offer-banner' %}
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                      <div class="wrap-grid-item">
                        <div class="row">
                            {% unless block.settings.collection == blank or collection.products_count == 0 %}
                              {% for product in collection.products offset:2 limit: 4 %}
                                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                  {% include 'product-item' %} 
                                </div>
                              {% endfor %}
                            {% else %}
                              {{ emptyProduct03 }}
                            {% endunless %}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              {% else %}

                <div role="tabpanel" class="{% if _number_active == forloop.index %}show active {% endif %}tab-pane" id="hp-tabs-{{ section.id }}-{{ forloop.index }}">
                  <div class="row hp-tabs-list tabs-list-row{% if _padding == 'no' %} no-padding{% endif %}">

                    {% unless block.settings.collection == blank or collection.products_count == 0 %}

                        {% for product in collection.products limit: 8 %}
                          <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                            {% include 'product-item' %}
                          </div>
                        {% endfor %}

                    {% else %}
                        {{ emptyProduct04 }}

                    {% endunless  %}

                  </div>
                </div>

              {% endunless %}
          
            <!-- Begin block type is Offer image -->

            {% endif %}

          {% endfor %}
        </div>
    
        <!-- End tab content -->

        {% if _type == 'carousel' %}
          <script>
            jQuery(document).ready(function($) {

              jQuery("#hp-tabs-{{ section.id }} .tabs-list-carousel").length && jQuery('#hp-tabs-{{ section.id }} .tabs-list-carousel').owlCarousel({
                nav			: true
                ,dots 		: false
                ,items		: {{ _item_per_row }}
                ,margin		: {{ _padding_carousel }}
                ,responsive : {
                  0:{
                    items: 1
                  }
                  ,360: {
                     items: 2
                  }  
                  ,768:{
                    items: 3
                  }
                  ,992:{
                    items: 4
                  }
                  ,1170:{
                    items: {{ _item_per_row }}
                  }                                                                 
                }
                ,navText	: ['<span class="button-prev"></span>', '<span class="button-next"></span>']
              });

            });
          </script>
        {% endif %}

      {% else %}

        <div class="nav-tab-wrapper">
          <ul class="nav nav-tabs tab-heading align-{{ _text_align_tab_title }}" role="tablist">
            {% for i in (1..3) %}

              <li class="tab-title nav-item">
                <a class="nav-link{% if forloop.first %} active{% endif %}{% if _lazyload %} lazyload{% endif %}" href="#hp-tabs-{{ section.id }}-{{ forloop.index }}" aria-controls="hp-tabs-{{ section.id }}-{{ forloop.index }}" role="tab" data-toggle="tab">
                  {{ 'homepage.onboarding.tab_title' | t }}
                </a>
              </li>

            {% endfor %}
          </ul>
        </div>

        <div class="tab-content">
          {% for i in (1..3) %}

            <div role="tabpanel" class="{% if _number_active == forloop.index %}show active {% endif %}tab-pane no-big-product" id="hp-tabs-{{ section.id }}-{{ forloop.index }}">
              <div class="hp-tabs-list tabs-list-row row-number-4">
                {{ emptyProduct01 }}
              </div>
            </div>

          {% endfor %}
        </div>

      {% endif %}

    {% if _layout == 'boxed' %}</div>{% endif %}
  </div>

{% schema %}
{
  "name": "Products Tabs",
  "max_blocks": 6,
  "settings": [
	{
      "type": "paragraph",
      "content": "Created by 'Products Tabs' section"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "full",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
	{
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    },
	{
      "type": "select",
      "id": "type",
      "label": "Type",
      "default": "row",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "row",
      "info": "Carousel only for Component content is Product, and Big product item is not empty"
    },
	{
      "type": "select",
      "id": "padding_style",
      "label": "Padding",
      "default": "yes",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ]
    },
	{
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "#newarrivals"
    },
	{
      "type": "select",
      "id": "text_align_title",
      "label": "Text align for tab title",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
		{ "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
	{
      "type": "select",
      "id": "text_align",
      "label": "Text align for product title",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
		{ "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
	{
      "type": "text",
      "id": "number_active",
      "label": "Block tab number is active",
      "default": "1"
    },
	{
      "type": "range",
      "id": "item_per_row",
      "label": "Number of items per row",
      "min": 3,
      "max": 6,
      "step": 1,
      "default": 4,
      "info": "Only for Component content is Product, and Big product item is not empty"
    },
	{
      "type": "text",
      "id": "limited",
      "label": "Limted items for each tab",
      "default": "6",
      "info": "Only for Component content is Product, and Big product item is not empty"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Title",
          "default": "Lifestyle"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection item"
        },
		{
          "id": "product",
          "type": "product",
          "label": "Big product item"
        }
      ]
    },
	{
      "type": "offer-image",
      "name": "Offer image",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Title",
          "default": "Lifestyle"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection item"
        },
		{
          "type": "header",
          "content": "Banner"
		},
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "url",
          "id": "link",
          "label": "Link"
        },
		{
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Offer ends in:"
        },
		{
          "type": "text",
          "id": "expire",
          "label": "Expire offer",
          "default": "08/25/2018",
          "info": "(mm/dd/yyyy)"
        }
      ]
    }
    
  ],
  "presets": [
    {
      "name": "Products Tabs",
      "category": "Collection",
      "blocks": [
        { "type": "product" },
		{ "type": "product" },
		{ "type": "product" }
      ]
    }
  ]
}
{% endschema %}
