{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _type = section.settings.type -%}
{%- assign _padding = section.settings.padding_style -%}
{%- assign _item_per_row = section.settings.item_per_row -%}
{%- assign _article_name_size = section.settings.article_name_size -%}
{%- assign _limit = section.settings.limited -%}

{% if _padding == 'no' %}
  {%- assign _padding_carousel = '0' -%}
{% else %}
  {%- assign _padding_carousel = '30' -%}
{% endif %}

{% case _item_per_row %}
  {% when 2 %}
    {%- assign _blog_class = "col-xl-6 col-lg-6 col-md-6 col-sm-12" -%}
    {%- assign _image_size = "885x" -%}
  {% when 3 %}
    {%- assign _blog_class = "col-xl-4 col-lg-4 col-md-6 col-sm-12" -%}
    {%- assign _image_size = "570x" -%}
  {% else %}
    {%- assign _blog_class = "col-xl-3 col-lg-3 col-md-6 col-sm-12" -%}
    {%- assign _image_size = "425x" -%}
{% endcase %}

{% capture emptyBlog %}
  {% for i in (1.._item_per_row)  %}
    <div class="post-item {{ _blog_class }} col-12">
      <div class="post-item-inner">

        <div class="post-image">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>

        <div class="post-content">
          <div class="meta-data">
            <span class="date">{{ 'homepage.onboarding.blog_date' | t }}</span>
          </div>

          <div class="info">
            <div class="blog-title {{ _article_name_size }}">{{ 'homepage.onboarding.blog_title' | t }}</div>
          </div>
        </div>

      </div> 
    </div>
  {% endfor %}
{% endcapture %}

<div id="blog-container-{{ section.id }}" class="blog-container{% if _hide_mobile %} d-none d-md-block{% endif %} layout-{{_layout }}{% if section.blocks.size > 1 %} blog-container-tab{% endif %}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}
  
  <div class="blog-content{% if _padding == 'no' %} no-padding{% endif %}">

    {%- assign _title = section.settings.title -%}
    
    {% unless _title == blank %}
      <div class="title-wrapper"><h3>{{ _title }}</h3></div>
    {% endunless %}

    {% if section.blocks.size > 0 %}
    
      {% if section.blocks.size > 1 %}

        <ul class="nav nav-tabs" role="tablist">
          {% for block in section.blocks %}

            {%- assign blog = blogs[block.settings.blog] -%}
            {%- assign _tab_title = block.settings.blog_title -%}

            <li class="nav-item">
              <a class="nav-link{% if forloop.first %} active{% endif %}" href="#blog-tab-{{ block.id }}-{{ forloop.index }}" aria-controls="blog-tab-{{ block.id }}-{{ forloop.index }}" role="tab" data-toggle="tab">
                {% unless block.settings.blog == blank or blog.articles_count == 0 %}
                  {% unless _tab_title == blank %}{{ _tab_title }}{% else %}{{ blog.title }}{% endunless %}

                {% else %}
                  {{ 'homepage.onboarding.tab_title' | t }}

                {% endunless %}
              </a>
            </li>

          {% endfor %}
        </ul>

        <div class="tab-content">
          {% for block in section.blocks %} 
            {%- assign blog = blogs[block.settings.blog] -%}

              <div role="tabpanel" class="tab-pane{% if forloop.first %} show active {% endif %}" id="blog-tab-{{ block.id }}-{{ forloop.index }}">
                
                {% unless block.settings.blog == blank or blog.articles_count == 0 %}
                  <div class="{% if _type == 'row' %}row{% else %}blog-carousel{% endif %}">

                    {% for article in blog.articles limit: _limit %}
                      <div class="post-item {% if _type == 'row' %}{{ _blog_class }} col-12{% endif %}">
                        {% include 'featured-blog-item' %}
                      </div>
                    {% endfor %}

                  </div>
                
                {% else %}
                  <div class="row">
                    {{ emptyBlog }}
                  </div>
                
                {% endunless %}
                
              </div>

          {% endfor %}
        </div>

      {% else %}

        <div class="{% if _type == 'row' %}row{% else %}blog-carousel{% endif %}">
          {% for block in section.blocks %}
            {%- assign blog = blogs[block.settings.blog] -%}

            {% unless block.settings.blog == blank or blog.articles_count == 0 %}
              {% for article in blog.articles limit: _limit %}
                <div class="post-item {% if _type == 'row' %}{{ _blog_class }} col-12{% endif %}">
                  {% include 'featured-blog-item' %}
                </div>
              {% endfor %}
          
            {% else %}
              {{ emptyBlog }}

            {% endunless %}

          {% endfor %}
        </div>

      {% endif %}

    {% else %}
    
      <div class="row"> 
        {{ emptyBlog }}
      </div>

    {% endif %}

  </div>
  
  {% if _layout == 'boxed' %}</div>{% endif %}
</div>

{% if _type == 'carousel' %}
  <script type="text/javascript">

    jQuery(document).ready(function($) {
      jQuery('#blog-container-{{ section.id }} .blog-carousel').length && jQuery('#blog-container-{{ section.id }} .blog-carousel').owlCarousel({
             nav		: true
             ,dots 		: false
             ,margin		: {{ _padding_carousel }}
             ,responsive : {
               0:{
                 items: 1
               }
               ,540:{
                 items: 2
               }
               ,1180:{
                 items: {{ _item_per_row }}
               }  
             }
             ,navText	: ['<span class="button-prev"></span>', '<span class="button-next"></span>']
      });
    });

  </script>
{% endif %}

{% schema %}
  {
  "name": "Blog",
  "settings": [
	{
      "type": "paragraph",
      "content": "Created by 'Blog List' section"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "boxed",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
	{
      "type": "select",
      "id": "type",
      "label": "Type",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "row"
    },	
	{
      "type": "select",
      "id": "padding_style",
      "label": "Gutter (Padding)",
      "default": "yes",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "#recent post"
    },
    {
      "type": "select",
      "id": "article_name_size",
      "label": "Article title font size",
      "default": "h3",
      "options": [
        {
        "value": "h1",
        "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ]
    },
	{
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show Excerpt"
    },
	{
      "type": "range",
      "id": "item_per_row",
      "label": "Number of items per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
	{
      "type": "text",
      "id": "limited",
      "label": "Limited items",
      "default": "6"
    }
  ],
  "blocks": [
    {
      "type": "blog",
      "name": "Blog",
      "settings": [
		{
          "type": "text",
          "id": "blog_title",
          "label": "Title",
          "default": "Lifestyle"
        },
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Blog List",
    "category": "Advanced layout",
	"blocks": [
      {
        "type": "blog",
		"settings": {
          "blog": "News"
        }
      }
    ]
  }]
}
{% endschema %}

