{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _lazyload = section.settings.lazyload -%}
{%- assign _follow_us = section.settings.follow_us -%}

<div id="single-product-{{ section.id }}" class="single-product-section{% if _hide_mobile %} d-none d-md-block{% endif %} layout-{{_layout }}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}
  
  {% capture emptyProduct %}
    {% if _follow_us %}
      <div class="box-social">
        <span>{{ 'general.404.follow_us' | t }}</span>
        {% include 'social-media-icons'%}
      </div>
    {% endif %}

    <div class="product-content">
      <div class="text-1">The Lookbook</div>

      <div class="p-name h1">
         {{ 'homepage.onboarding.product_title' | t }}
      </div>

      <a href="javascript:;" class="btn-discover btn-4">Discover</a>

      <div class="text-3">Trending <br> Collection <br> 2018</div>
    </div>

    <div class="product-image">
      <div class="image-list">

        <div class="image">
          {{ 'product-1' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>

      </div>
    </div>
  
    <style type="text/css">
      .single-product-list .sp-item-{{ block.id }} .text-1,
      .single-product-list .sp-item-{{ block.id }} .text-3,
      .single-product-list .sp-item-{{ block.id }} .p-name,
      .single-product-list .sp-item-{{ block.id }} .p-name a { color: #000000}
    </style>
  {% endcapture %}

  <div class="single-product-list single-product-{{ section.id }}">
    {% if section.blocks.size > 0 %}

      {% for block in section.blocks %}
      {%- assign _product = block.settings.product -%}
      {%- assign _image_size = block.settings.image_size -%}

      {% unless _product == blank %}
      {%- assign _bg_style = block.settings.bg_style -%}

      {%- assign _text_1 = block.settings.text_1 -%}  
      {%- assign _text_2 = block.settings.text_2 -%}  
      {%- assign _text_3 = block.settings.text_3 -%} 
      {%- assign _product_name_size = block.settings.product_name_size -%}      	        	  	

      <div class="sp-item sp-item-{{ block.id }}" style="{% if _bg_style == 'color' %}background-color: {{ block.settings.bg_color }};{% else %}background-image:url({{ block.settings.bg_image | img_url: _image_size }});{% endif %}">

        {% assign product = all_products[_product] %}
        {% include 'single-product-item' %}

        <style type="text/css">
          .single-product-list .sp-item-{{ block.id }} .text-1,
          .single-product-list .sp-item-{{ block.id }} .text-3,
          .single-product-list .sp-item-{{ block.id }} .p-name,
          .single-product-list .sp-item-{{ block.id }} .p-name a { color: {{ block.settings.text_color }};}
        </style>

      </div>
    
      {% else %}
        <div class="sp-item" style="background-color: #edf8f1;">
          {{ emptyProduct }}
        </div>

      {% endunless %}

      {% endfor %}
    
    {% else %}
      <div class="sp-item" style="background-color: #edf8f1;">
        {{ emptyProduct }}
      </div>
    
    {% endif %}
  </div>

  {% if section.settings.type == 'carousel' %}
  <script>
    jQuery(document).ready(function($) {

      jQuery(".single-product-{{ section.id }}").length && jQuery('.single-product-{{ section.id }}').owlCarousel({
             nav		: false
             ,dots 		: true
             ,loop		: false
             ,items		: 1
      });

    });
  </script>
  {% endif %}

  {% if _layout == 'boxed' %}</div>{% endif %}
</div>

{% schema %}
{
  "name": "Single Product",
  "max_blocks": 5,
  "settings": [
	{
      "type": "paragraph",
      "content": "Created by 'Single Product' section"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    },
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "boxed",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "select",
      "id": "type",
      "label": "Type",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "row"
    },
	{
      "id": "follow_us",
      "type": "checkbox",
      "label": "Show follow us",
      "default": true,
      "info": "Use settings in Extensions > Social icon 01, Social icon 02, Social icon 03, Social icon 04"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product item",
      "settings": [
        {
          "id": "product",
          "type": "product",
          "label": "Product item"
        },
		{
          "type": "select",
          "id": "bg_style",
          "label": "Background style",
          "options": [
            {
              "value": "color",
              "label": "Background color"
            },
            {
              "value": "image",
              "label": "Background image"
            }
          ],
          "default": "color"
        },
		{
          "type": "color",
          "id": "bg_color",
          "label": "Background color",
          "default": "#ffffff"
        },
		{
          "id": "bg_image",
          "type": "image_picker",
          "label": "Background image"
        },
		{
          "type": "text",
          "id": "image_size",
          "label": "Image size",
          "default": "1920x",
          "info": "Default is 1920x980 pixels"
        },
		{
          "type": "header",
          "content": "Text Box"
		},
		{
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#000000"
        },
		{
          "type": "text",
          "id": "text_1",
          "label": "Text #1",
          "default": "The Lookbook"
        },
		{
          "type": "text",
          "id": "text_2",
          "label": "Text #2",
          "default": "Discover"
        },
		{
          "type": "text",
          "id": "text_3",
          "label": "Text #3",
          "default": "Trending <br> Collection <br> 2018"
        },
		{
          "type": "select",
          "id": "product_name_size",
          "label": "Product name font size",
          "default": "h1",
          "options": [
            {
              "value": "h1",
              "label": "Heading 1"
            },
            {
              "value": "h2",
              "label": "Heading 2"
            },
            {
              "value": "h3",
              "label": "Heading 3"
            },
            {
              "value": "h4",
              "label": "Heading 4"
            },
            {
              "value": "h5",
              "label": "Heading 5"
            },
            {
              "value": "h6",
              "label": "Heading 6"
            }
          ]
        }		
      ]
    }
  ],
  "presets": [
    {
      "name": "Single Product",
      "category": "Collection",
      "blocks": [
        { "type": "product" },
		{ "type": "product" },
		{ "type": "product" }
      ]
    }
  ]
}
{% endschema %}
