{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _lazyload = section.settings.lazyload -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _type = section.settings.type -%}
{%- assign _padding = section.settings.padding_style -%}
{%- assign _item_per_row = section.settings.item_per_row -%}
{%- assign _icon = section.settings.icon -%}

{% if _padding == 'no' %}
  {%- assign _padding_carousel = '0' -%}
{% else %}
  {%- assign _padding_carousel = '30' -%}
{% endif %}

<div class="home-instagram{% if _hide_mobile %} d-none d-md-block{% endif %} layout-{{ _layout }}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}
  <div class="home-instagram-items{% if _padding == 'no' %} no-padding{% endif %}">

    <div class="{% if _type == 'row' %}row-table{% else %} home-instagram-carousel{% endif %}">
      <div id="home_instagram_list" class="home_instagram_list{% if _type == 'row' %} number-{{ _item_per_row }}{% endif %}" data-token-key="{{section.settings.instagram_token}}" data-uid="{{section.settings.instagram_userid}}" data-limit="{{section.settings.instagram_number}}"></div>
    </div>
    
    {% unless _icon == blank %}
    <style type="text/css">
      .home_instagram_list > a:after,
      .home_instagram_list .owl-item a:after {
        background-image: url({{ _icon | img_url: '45x' }});
      }
    </style>
    {% endunless %}
    
  </div>
  {% if _layout == 'boxed' %}</div>{% endif %}  
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
      if( jQuery('#home_instagram_list').length > 0 ){
		  
            if( 'undefined' === typeof Instafeed ){
              console.log(" Instafeed has not defined yet! ");
              return;
            }
		  
			var home_instagram_list;
        
			jQuery('#home_instagram_list').each(function( index,value ){
              home_instagram_list = new Instafeed({
					get: "user"
					,target		: "home_instagram_list"
					,accessToken: jQuery(value).data('token-key')
					,userId		: jQuery(value).data('uid')
					,limit		: jQuery(value).data('limit')
                    ,resolution : "low_resolution"
                    ,resolution2 : "standard_resolution"
                    {% if _lazyload %}
                  	,template: '<a href="{% raw %}{{{% endraw %}link{% raw %}}}{% endraw %}"><img class="lazyload" data-src="{% raw %}{{{% endraw %}image{% raw %}}}{% endraw %}" /></a>'
                    {% else %}
                    ,template: '<a href="{% raw %}{{{% endraw %}link{% raw %}}}{% endraw %}"><img src="{% raw %}{{{% endraw %}image{% raw %}}}{% endraw %}" /></a>'
                    {% endif %}
                  	,after: function() {
						jQuery("#home_instagram_list > a").each(function(index,value){
                          	jQuery(value).attr("target","_blank");
                          	jQuery(value).attr("class", "index-" + index);
						});
                      
                        {% if _type == 'carousel' %}
                          jQuery(".home_instagram_list").length && jQuery('.home_instagram_list').owlCarousel({
                            nav			: false
                            ,dots 		: true
                            ,items: {{ _item_per_row }}
                            ,margin		: {{ _padding_carousel }}
                            ,responsive : {
                              0:{
                                items: 1
                              }
                              ,320:{
                                items: 2
                              }
                              ,768:{
                                items: 3
                              }
                              ,992:{
                                items: 4
                              }     
                              ,1199:{
                                item: {{ _item_per_row }}
                              }
                            }
                          });
                        {% endif %}
					}
            });
        
            home_instagram_list.run();
        
		  });  
    }
  });
</script>
   

{% schema %}
{
  "name": "Instafeed",
  "settings": [
    {
      "type": "paragraph",
      "content": "Created by 'Instafeed' section"
    },
    {
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
    {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "boxed",
        "options": [
          {
            "value": "boxed",
            "label": "Boxed"
          },
          {
            "value": "full",
            "label": "Wide"
          }
        ]
    },
	{
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    },
	{
      "type": "select",
      "id": "type",
      "label": "Type",
      "options": [
        {
          "value": "row",
          "label": "Row"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "row"
    },
	{
      "type": "select",
      "id": "padding_style",
      "label": "Gutter (Padding)",
      "default": "yes",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Instagram icon"
    },
    {
      "id": "instagram_token",
      "label": "Instagram Access Token [( ? )](http:\/\/jelled.com\/instagram\/access-token)",
      "type": "text",
      "default": "6156446154.1677ed0.91d3682c177e4e2f9e91b17cc41626af"
    },
    {
      "id": "instagram_userid",
      "label": "Instagram User ID [( ? )](http:\/\/jelled.com\/instagram\/lookup-user-id)",
      "type": "text",
      "default": "6156446154"
    },
	{
      "type": "range",
      "id": "item_per_row",
      "label": "Number of items per row",
      "min": 4,
      "max": 8,
      "step": 1,
      "default": 4
    },
    {
      "default": "8",
      "id": "instagram_number",
      "label": "Limited items",
      "type": "text"
    }
  ],
  "presets": [
    {
      "name": "Instafeed",
      "category": "Banner"
    }
  ]
}
{% endschema %}
