{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _lazyload = section.settings.lazyload -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _type = section.settings.type -%}
{%- assign _padding = section.settings.padding_style -%}
{%- assign _image_left = section.settings.image_left -%}
{%- assign _image_right = section.settings.image_right -%}
{%- assign _image_size = section.settings.image_size -%}

{% capture emptyImage %}
  <div class="image">
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
{% endcapture %}

<div id="home-lookbook-{{ section.id }}" class="home-lookbook{% if _hide_mobile %} d-none d-md-block{% endif %} layout-{{_layout }}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}
    
  <div class="home-lookbook-items{% if _padding == 'no' %} no-padding{% endif %}">
      {% if section.blocks.size > 0 %}
      
        <div class="row">
            
            <div class="col-md-6 col-sm-12">
              <div class="block-image{% if _lazyload %} lazyload waiting{% endif %}">
                
                <div class="image">
                  {% unless _image_left == blank  %}
                    <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ _image_left | img_url: _image_size }}" alt="Banner" />

                  {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}

                  {% endunless %}
                </div>
                
                {% for block in section.blocks %}
                  {%- assign _point_top = block.settings.point_top -%}
                  {%- assign _point_left = block.settings.point_left -%}
                  {%- assign _product_image = block.settings.product_image -%}
                  {%- assign _product_image_size = block.settings.product_image_size -%}
                  {%- assign _product_link = block.settings.product_url -%}

                  {% unless _product_image == blank %}
                    <div class="point index-{{ forloop.index }}" style="top:{{ _point_top }};left:{{ _point_left }}" data-image="{{ _product_image | img_url: _product_image_size }}" data-link="{{ _product_link }}"></div>
                  {% endunless %}
                
                  <style type="text/css">
                    .home-lookbook-items .block-image .index-{{ forloop.index }}:before {
                      background: {{ block.settings.point_color }};
                    }      
                  </style>

                {% endfor %}
                
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="block-product look-product">
                
                <div class="look-product-image">
                  <a href="{{ _product_link }}">
                    {% unless _image_left == blank  %}
                    <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ _image_right | img_url: _image_size }}" alt="Banner" />

                    {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}

                    {% endunless %}
                  </a>
                </div>
                
              </div>
            </div>
            
        </div>
        <script type="text/javascript">
          jQuery(document).ready(function($) {
            $('.home-lookbook-items .point ').on('click', function(e){
              e.stopPropagation();
              var imgUrl = $(this).data("image")
                  ,productUrl = $(this).data("link")
                 , parent = $(this).parents('.home-lookbook-items')
                  ,imgElem = parent.find('.look-product-image img')
                  ,urlElem = parent.find('.look-product-image a')
              
              imgElem.attr('src', imgUrl)
              urlElem.attr('href', productUrl)
              var fakeImg = new Image();
              fakeImg.src = imgUrl;
              fakeImg.onload = function(event){
                //Code for this
              };
              fakeImg.onerror = function() {
                //Code for error loading
              };
            });
          })
        </script>
      
      {% else %}
      
        <div class="row">

          <div class="col-md-6 col-sm-12">
            <div class="block-image">

              <div class="image">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>

            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <div class="block-product">

              <div class="image">     
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>

            </div>
          </div>

        </div>
        

      {% endif %}
    
  </div>
    
  {% if _layout == 'boxed' %}</div>{% endif %}
</div>


{% schema %}
{
  "name": "Lookbook",
  "max_blocks": 5,
  "settings": [
	{
      "type": "paragraph",
      "content": "Created by 'Lookbook' section"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    },
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "full",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
	{
      "type": "select",
      "id": "padding_style",
      "label": "Gutter (Padding)",
      "default": "yes",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ]
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Image left"
    },
	{
      "type": "image_picker",
      "id": "image_right",
      "label": "Image right"
    },
    {
      "type": "text",
      "id": "image_size",
      "label": "Image size (pixels)",
      "default": "960x1075"
    },
	{
      "type": "url",
      "id": "image_right_link",
      "label": "Image right link"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
		{
          "type": "header",
          "content": "Point"
        },
		{
          "type": "color",
          "id": "point_color",
          "label": "Color",
          "default": "#fff"
        },
		{
          "type": "text",
          "id": "point_top",
          "label": "Top position (%)",
          "default": "10%"
        },
		{
          "type": "text",
          "id": "point_left",
          "label": "Left position",
          "default": "40%"
        },
		{
          "type": "header",
          "content": "Product"
        },
		{
          "type": "image_picker",
          "id": "product_image",
          "label": "Image"
        },
		{
          "type": "text",
          "id": "product_image_size",
          "label": "Image size (pixels)",
          "default": "960x1075"
        },
		{
          "type": "url",
          "id": "product_url",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lookbook",
      "category": "Banner",
      "blocks": [
        { "type": "image" },
		{ "type": "image" },
		{ "type": "image" }
      ]
    }
  ]
}
{% endschema %}