{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _lazyload = section.settings.lazyload -%}

<div class="policies-wrapper layout-{{_layout }}{% if _hide_mobile %} d-none d-md-block{% endif %}">
  <div class="container">

    <div class="policies-content">
      <div class="row">

        {% if section.blocks.size > 0 %}

          {% for block in section.blocks %}

          <div class="policy-item col-lg-3 col-md-6 col-sm-6 col-12">

            {% unless block.settings.image == blank %}
              {%- assign _image_size = block.settings.image_size -%}

              <div class="image{% if _lazyload %} lazyload waiting disable-load{% endif %}">
                <img {% if _lazyload %}class="lazyload" data-{% endif %}src="{{ block.settings.image | img_url: _image_size }}" alt="Policy" />
              </div>

            {% else %}
              <div class="image">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>

            {% endunless %}
            
            <div class="text">
              {% unless block.settings.title == blank %}<h6>{{ block.settings.title }}</h6>{% endunless %}
              {% unless block.settings.subtitle == blank %}<span>{{ block.settings.subtitle }}</span>{% endunless %}
            </div>

          </div>

          {% endfor %}

        {% else %}
          {% for i in (1..4) %}
          <div class="policy-item col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="image">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            
            <div class="text">
              <h6>{{ 'homepage.onboarding.policy_title' | t }}</h6>
              <span>{{ 'homepage.onboarding.policy_subtitle' | t }}</span>
            </div>
            
          </div>
          {% endfor %}

        {% endif %}

      </div>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Policies",
  "max_blocks": 4,
  "settings": [
	{
      "type": "paragraph",
      "content": "Created by 'Policies' section"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "text",
          "id": "image_size",
          "label": "Image size (pixels)",
          "default": "50x50",
          "info": "Default is 50x50 pixels"
        },
		{
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Policy's title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "subtitle",
          "default": "Policy's subtitle"
        }
      ]
    }
    
  ],
  "presets": [
    {
      "name": "Policies",
      "category": "Banner",
      "blocks": [
        { "type": "image" },
        { "type": "image" },
		{ "type": "image" },
		{ "type": "image" }
      ]
    }
  ]
}
{% endschema %}
