{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _lazyload = section.settings.lazyload -%}
{%- assign _limit = section.settings.limited -%}

{% capture emptyProduct %}
  {% for i in (1.._limit)  %}
    <div class="listing-item">
      <div class="row">

        <div class="product-image col-md-5 col-sm-5 col-6">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>

        <div class="product-content col-md-7 col-sm-7 col-6">
          <div class="product-content-inner">
            <a>{{ 'homepage.onboarding.product_title' | t }}</a>
            <div class="product-price"><span class="price">{{ 1999 | money }}</span></div>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
{% endcapture %}

<div id="product-listing{{ section.id }}" class="product-listing-section{% if _hide_mobile %} d-none d-md-block{% endif %} layout-{{_layout }}">
  {% if _layout == 'boxed' %}<div class="container">{% endif %}
    <div class="product-listing-items">
      <div class="row">
        
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}

            {%- assign collection = collections[block.settings.collection] -%}
            {%- assign _title = block.settings.title -%}

            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="listing-items-col">

                {% unless block.settings.collection == blank or collection.products_count == 0 %}
                  <h4>{% unless _title == blank %}{{ _title }}{% else %}{{ collection.title }}{% endunless %}</h4>

                  {% for product in collection.products limit: _limit %}
                    {% include 'products-listing-item' %}
                  {% endfor %}

                {% else %}
                  <h4>{% unless _title == blank %}{{ _title }}{% else %}{{ 'homepage.onboarding.products_listing_title' | t }}{% endunless %}</h4>
                  {{ emptyProduct }}

                {% endunless%}

              </div>
            </div>

          {% endfor %}

        {% else %}
        
          {% for i in (1..4) %}
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="listing-items-col">

                <h4>{{ 'homepage.onboarding.products_listing_title' | t }}</h4>
                {{ emptyProduct }}

              </div>
            </div>
          {% endfor %}
        
        {% endif %}

      </div>
    </div>
  {% if _layout == 'boxed' %}</div>{% endif %}
</div>

{% schema %}
{
  "name": "Products Listing",
  "max_blocks": 4,
  "settings": [
	{
      "type": "paragraph",
      "content": "Created by 'Products Listing' section"
    },
	{
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide on mobile"
    },
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "boxed",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
	{
      "type": "checkbox",
      "id": "lazyload",
      "label": "Lazyload",
      "default": true
    },
	{
      "type": "text",
      "id": "limited",
      "label": "Limited items for each collection",
      "default": "3"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Featured products"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection item"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products Listing",
      "category": "Collection",
      "blocks": [
        { "type": "collection" },
		{ "type": "collection" },
		{ "type": "collection" },
		{ "type": "collection" }
      ]
    }
  ]
}
{% endschema %}
